﻿@using Web.CPSearch.Extensions
<!DOCTYPE html>
<html ng-app="patentApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <!--CSS-->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Pages/Common.css")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="~/favicon.ico" style="width:22px;height:22px;">
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CPSearch", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("建立分析計畫", "Plan", "Home", new { area = "", id = "" }, null)</li>
                    <li>@Html.ActionLink("分析計畫列表", "UserPlanList", "Plan", new { area = "" }, null)</li>
					if (User.Identity.GetMemberInfo().IsAdmin)
					{
						<!--Backend-->
						<li><a href="#">|</a></li>
						<li>@Html.ActionLink("Overview", "Index", "Home", new { area = "Backend" }, new { @class = "navbar-brand" })</li>
						<li>@Html.ActionLink("一般設定管理", "ControlledSettings", "Home", new { area = "Backend" }, new { @class = "" })</li>
						<li>@Html.ActionLink("信件通知管理", "Index", "Mail", new { area = "Backend" }, new { @class = "" })</li>
                        <li>@Html.ActionLink("登入授權管理", "UserAuthorize", "Account", new { area = "Backend" }, null)</li>
                        <li>@Html.ActionLink("專利分析計劃管理", "Management", "Plan", new { area = "Backend" }, null)</li>
						<li>@Html.ActionLink("下載專利管理", "Index", "Patent", new { area = "Backend" }, null)</li>
						<li>@Html.ActionLink("專利下載狀態 (HangFire Dashboard)", "Index", "Dashboard", new { area = "" }, new { @class = "", @target = "_blank" })</li>
					}
				}
                </ul>
                @Html.Partial("~/Views/Shared/_LogoutPartial.cshtml")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <!--麵包屑-->
        <ol class="breadcrumb bgcolor-white">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="active">@ViewBag.Title</li>
        </ol>
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - CPSearch</p>
        </footer>
    </div>
    <!--Scripts-->
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    <!---->
    @RenderSection("scripts", required: false)
    <script type="text/javascript" id="glyphiconHint">
        $(function () {
            /* =================
            Add ToolTips
            ====================*/
            //下載圖示
            $(".glyphicon-time").attr("title", "尚未下載").tooltip();
            $(".glyphicon-download").attr("title", "下載中").tooltip();
            $(".glyphicon-ok-sign").attr("title", "下載完成").tooltip();

            //刪除圖示
            $(".glyphicon-remove").attr("title", "刪除").tooltip();
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $("#startTechTableAna").click(function () {
                $("#PatentTechFieldAnalysisTable").show();
            });
        });
    </script>
</body>
</html>
