﻿<ul class="nav navbar-nav navbar-right">
	@if (User.Identity.IsAuthenticated)
	{
		var username = User.Identity.Name;//default value
		var userCookie = Request.Cookies.Get("logonusername");
		if (userCookie != null)
		{
			username = userCookie.Value;
		}
		<li>@Html.ActionLink(username, "ChangeAccount", "Home", new { area = "" }, new { @class = "" })</li>
		<li>@Html.ActionLink("Logout", "LogOut", "Home", new { area = "" }, new { @class = "" })</li>
	}
</ul>