﻿<!DOCTYPE html>
@using System.Reflection;
@using System.Diagnostics;
@{ 
	var asm = ViewContext.Controller.GetType().Assembly;
	var asmLoc = asm.Location;
	var versionDate = "";
	var version = asm.GetName().Version;
	var asmFile = new FileInfo(asmLoc);
	if(asmFile != null)
	{
		versionDate = asmFile.CreationTime.ToString("yyyy-MM-dd");
	}
}
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title CPSearch</title>
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@Styles.Render("~/Content/Pages/Home_Login.css")
	@Styles.Render("~/Content/Pages/Common.css")
</head>
<body>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p class="text-center">&copy; @DateTime.Now.Year CPSearch</p>
			<p class="text-center text-info">Release @versionDate ver @version</p>
		</footer>
	</div>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
