﻿@model Lib.GooglePatentModel.PatentDetailInfo
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_CPSearchLayout.cshtml";
}

@section styles{
   
    <link href="~/Scripts/OwlCarousel2-2.2.0/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Scripts/OwlCarousel2-2.2.0/assets/owl.theme.default.min.css" rel="stylesheet" />
}

@section scripts{
    
    <script src="~/Scripts/OwlCarousel2-2.2.0/owl.carousel.min.js"></script>

    <script type="text/javascript">
        $(function(){
        
            $('.owl-carousel').owlCarousel({
                items:4,
                lazyLoad:true,
                loop:true,
                margin:10
            });
        
        });

    </script>
 }

<h2>@Model.Title</h2>
@if (Model.PatentImageList != null)
{
    <div class="owl-carousel owl-theme">
        @foreach (var item in Model.PatentImageList)
        {
            <img class="owl-lazy" data-src="@Url.Content(item.FilePath)" alt="">
        }

    </div>
}

<table class="table table-hover">
    <tr>
        <th>公開號</th>
        <td>@Model.PatentNumber</td>
        <th>申請書編號</th>
        <td>@Model.ApplicationNumber</td>
    </tr>
    <tr>
        <th>KindCode</th>
        <td>@Model.KindCode</td>
        <th>出版類型</th>
        <td>@Model.PatentType</td>
    </tr>
    <tr>
        <th>發佈日期</th>
        <td>@Model.PublicDate</td>
        <th>申請日期</th>
        <td>@Model.ApplicationDate</td>
    </tr>
    <tr>
        <th>優先權日期</th>
        <td>@Model.PriorityDate</td>
        <th>下載日期</th>
        <td>@Model.CreateDateTime.ToString(@"yyyy\/MM\/dd")</td>
    </tr>
    <tr>
        <th>IPC</th>
        <td colspan="3">@(String.Join(" ", Model.IPCs))</td>
    </tr>
    <tr>
        <th>UPC</th>
        <td colspan="3">@(String.Join(" ", Model.UPCs))</td>
    </tr>
    <tr>
        <th>CPC</th>
        <td colspan="3">@(String.Join(" ", Model.CPCs))</td>
    </tr>
</table>
<br />
<h3>專利引用</h3>
<table class="table table-hover">
    <tr>
        <th>引用的專利</th>
        <th>申請日期</th>
        <th>發佈日期</th>
        <th>申請者</th>
        <th>專利名稱</th>
    </tr>
    @foreach (var item in Model.BackwardCitations)
    {
        <tr>
            <td>@item.PatentNumber</td>
            <td>@item.ApplicationDate</td>
            <td>@item.PublicDate</td>
            <td>@item.Applicant</td>
            <td>@item.Title</td>
        </tr>
    }
</table>
<br />
<h3>被以下專利引用</h3>
<table class="table table-hover">
    <tr>
        <th>引用的專利</th>
        <th>申請日期</th>
        <th>發佈日期</th>
        <th>申請者</th>
        <th>專利名稱</th>
    </tr>
    @foreach (var item in Model.ForwardCitations)
    {
        <tr>
            <td>@item.PatentNumber</td>
            <td>@item.ApplicationDate</td>
            <td>@item.PublicDate</td>
            <td>@item.Applicant</td>
            <td>@item.Title</td>
        </tr>
    }
</table>
<br />
<h3>法律事件</h3>
<table class="table table-hover">
    <tr>
        <th>日期</th>
        <th>代號</th>
        <th>事件</th>
        <th>說明</th>
    </tr>
    @foreach (var item in Model.LegalEvents)
    {
        <tr>
            <td>@item.StateDate</td>
            <td>@item.Code</td>
            <td>@item.Event</td>
            <td>
                @foreach (var dic in item.Description)
                {
                    <div><b>@dic.Key</b>: @dic.Value</div>
                }
            </td>
        </tr>
    }
</table>
