﻿<div class="panel panel-default" style="margin:10px 0px;">
	<div class="panel-heading">
		<span class="planPatentCount-header" style="color:cornflowerblue;font-weight:bold;">計畫專利</span>
		@*<span class="plan-patent-count badge" style="margin-left:5px;" ng-bind="patentTotalCount">1</span>*@
		<span class="plan-patent-count badge" style="margin-left:5px;">{{planPatents.length}}</span>
		<span id="planCollapse" class="glyphicon glyphicon-folder-open cursor-pointer" 
			  data-toggle="collapse" data-target="#plan-patents-container"></span>
		<!-- 分頁-->
		<div class="pagination-container" ng-show="planPatents.length > 0">
			<ul class="pagination pagination-sm">
				<li ng-show="planPatentPageIndex > 1"><a href="javascript:void(0)" ng-click="toPrevPatentPage()">&laquo;</a></li>
				<li class="active"><a href="#" ng-bind="planPatentPageIndex">1</a></li>
				<li ng-show="planPatentPageIndex < (patentTotalCount / planPatentPageSize)"><a href="javascript:void(0)" ng-click="toNextPatentPage()">&raquo;</a></li>
			</ul>
		</div>
		<div class="changePageCount-container" ng-show="planPatents.length > 0">
			<span>每頁: </span>
			<select class="switch-PageCount"
					ng-model="planPatentPageSize"
					ng-init="planPatentPageSize = planPatentPageSizeOption[0]"
					ng-options="option for option in planPatentPageSizeOption"
					ng-change="chagePatentPageSize()"></select>
			<span>筆</span>
		</div>
	</div>
	@*<div class="panel-body"></div>*@
	<div class="table-container" id="plan-patents-container" style="max-height:600px;overflow:auto;">
		<!--No Data Show-->
		<div class="panel panel-default" ng-show="planPatents.length == 0">
			<div class="panel-body">
				<p class="text-center text-muted" style="font-size:large;">No Data</p>
			</div>
		</div>
		<!--Data-->
		<table class="table table-hover" id="planPatents" ng-show="planPatents.length > 0">
			<thead>
				<tr>
					<th>#</th>
					<th style="width:10%;">專利號</th>
					<th style="width:30%;">專利名稱</th>
					<th style="width:20%;">專利摘要</th>
					<th style="width:8%;">CPC</th>
					<th style="width:8%;">發佈日</th>
					<th>發明人</th>
					<th style="width:8%;">下載狀態</th>
					<th style="width:4%;">移除</th>
				</tr>
			</thead>
			<tbody>
				<tr class="patent-item" ng-repeat="item in planPatents">
					<td class="num" ng-bind="((planPatentPageIndex - 1) * planPatentPageSize) + ($index + 1)"></td>
					<td class="patent-number">
						<a class="text-info" ng-show="item.PID > 0" ng-href="@(Url.Action("Detail", "Patent"))?pid={{item.PID}}" href="~/ScenarioData/Patent1.html" target="_blank" ng-bind="item.PatentNumber"></a>
						<span ng-bind="item.PatentNumber" ng-show="item.PID == 0"></span>
					</td>
					<td class="patent-title" ng-bind="item.Title"></td>
					<td class="patent-abstract" ng-bind-html="item.Abstract"></td>
					<td class="patent-cpc">
						<div ng-show="item.CPCs != null && item.CPCs.length > 0">
							<div ng-repeat="cpc in item.CPCs">
								{{ cpc }}
							</div>
						</div>
					</td>
					<td class="patent-publicDate" ng-bind="item.PublicDate"></td>
					<td class="patent-inventors">
						<div ng-show="item.Inventors != null && item.Inventors.length > 0">
							<div ng-repeat="inventor in item.Inventors">
								{{ inventor }}
							</div>
						</div>
					</td>
					<td class="download-status">
						<span class="glyphicon glyphicon-ok-sign color-aqua" ng-show="item.State == 'Waiting'"></span>
						<span class="glyphicon glyphicon-ok-sign color-gold" ng-show="item.State == 'Downloading'"></span>
						<span class="glyphicon glyphicon-ok-sign color-green" ng-show="item.State == 'Completed'"></span>
						<span class="glyphicon glyphicon-ok-sign color-red" ng-show="item.State == 'Fail'"></span>
					</td>
					<td class="removePatent"><span class="glyphicon glyphicon-remove color-red cursor-pointer" ng-click="deletePatent(item, $index, $event)"></span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
