﻿@{
	var isPlanIDExists = !String.IsNullOrEmpty(Request["id"] ?? "");
}
@if (isPlanIDExists)
{
	<div class="toolbar-container row">
		<div class="col-md-4">
			<button class="btn btn-default search-container-show" id="collapse-bar" title="切換顯示「專利檢索」功能"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span> 切換檢索</button>
			<button class="btn btn-primary" ng-click="createPlan()"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> 儲存</button>
			@*<button class="btn btn-primary" id="savePlanAs" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> 另存計畫</button>*@
			<button class="btn btn-info" ng-click="planinfo_edit_click()"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 編輯</button>
			<button id="startTechTableAna" class="choice-patent-to-proj btn btn-success"
					ng-click="doTechFieldTableANLYS()">
				<span class="glyphicon glyphicon-stats" aria-hidden="true"></span> 分析	</button>
		</div>
	</div>
	<br />
	<div class="plan-name-desc-container row">
		<div class="col-md-12">
			<div class="row plan-name">
				<div class="col-md-5">
					<div class="input-group">
						<span class="input-group-addon">計畫名稱</span>
						<input type="text" disabled="true" class="form-control doubleMaxW" id="planName" ng-model="planName" />
					</div>
				</div>
			</div>
			<div class="row plan-desc hide">
				<div class="col-md-12">
					<div class="input-group">
						<span class="input-group-addon">計畫描述</span>
						<textarea class="form-control" style="max-width:365px;" rows="3" id="planDesc" ng-model="planDesc"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
}
else
{
	<!-- Create New Plan-->
	<div class="row plan-name-desc-container">
		<div class="col-md-12">
			<div class="row plan-name">
				<div class="col-md-5">
					<div class="input-group">
						<span class="input-group-addon"><span class="required-field">*</span>計畫名稱</span>
						<input type="text" style="width:360px;" class="form-control doubleMaxW" id="planName" ng-model="planName" />
					</div>
				</div>
			</div>
			<div class="row plan-desc">
				<div class="col-md-12">
					<div class="input-group">
						<span class="input-group-addon"><span class="required-field">*</span>計畫描述</span>
						<textarea class="form-control" style="max-width:358px;" rows="3" id="planDesc" ng-model="planDesc"></textarea>
						<span class="input-group-btn" style="display:inline-block;margin:0px 20px;">
							<button class="btn btn-primary" type="button" id="savePlan" ng-click="createPlan()">建立新計畫</button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
}
