﻿<!--plan patent tech analysis weight setting-->
<div class="panel panel-default" style="margin:10px 0px;">
	<div class="panel-heading" style="color:cornflowerblue;font-weight:bold;">
		<span>統合分數權重設定</span>
		@*<button type="button" class="choice-patent-to-proj btn btn-primary btn-xs" style="float:right;">執行分析</button>*@
	</div>
	<div class="row">
		<div class="col-lg-4">
			<p class="field-caption">
				技術深度 W1
				<input type="number" step="0.01" min="0.01" max="0.99" maxlength="4" class="input-margin" id="w1" ng-model="planWDOT" ng-change="weight_Changed('DOT')" />
			</p>
		</div>
		<div class="col-lg-8">
			<p class="field-caption">
				<b class="color-red">**</b>
				<span>W1 + W2 = 1</span>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<p class="field-caption">
				技術廣度 W2
				<input type="number" step="0.01" min="0.01" max="0.99" class="input-margin" id="w2" ng-model="planWBOT" ng-change="weight_Changed('BOT')" />
			</p>
		</div>
		<div class="col-lg-8">
			<p class="field-caption">
				<b class="color-red">**</b>
				<span>W1 > 0, W2 > 0</span>
			</p>
		</div>
	</div>
	<div class="row {{planWeightSowSaveChanges}}" style="margin-bottom:5px;">
		<div class="col-md-3 col-lg-offset-4">
			<button class="btn btn-danger" ng-click="saveWeightChanges_Click()">Save Changes</button>
			<button class="btn btn-default" ng-click="resetWeightChanges_Click()">Reset</button>
		</div>
	</div>
</div>
