﻿<!--Patent tech analysis final result-->
<div class="panel panel-default" style="margin:10px 0px;">
	<div class="panel-heading" style="color:cornflowerblue;font-weight:bold;">各標的專利最終統合分數</div>
	<div class="table-container" style="max-height:300px;overflow:auto;">
		<!--No Data Show-->
		<div class="panel panel-default" 
			 ng-show="techFieldViewModel.TechANLYSPatents.length == 0 || techFieldViewModel.TechANLYSPatents == null">
			<div class="panel-body">
				<p class="text-center text-muted" style="font-size:large;">No Data</p>
			</div>
		</div>
		<!--Data-->
		<table class="table table-hover" ng-show="techFieldViewModel.TechANLYSPatents.length > 0">
			<thead>
				<tr>
					<th>#</th>
					<th>美國專利公告號</th>
					<th>技術深度 (DOT)</th>
					<th>技術廣度 (BOT)</th>
					<th>統合分數 (SOP = W1 * DOT + W2 *BOT)</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in techFieldViewModel.TechANLYSPatents track by $index">
					<td class="row-num">{{$index+1}}</td>
					<td class="pn">{{item.PatentNumber}}</td>
					<td class="DOT">{{item.TechnicalDepth}}</td>
					<td class="BOT">{{item.TechnicalBreadth}}</td>
					<td class="SOP">{{(planWDOT * item.TechnicalDepth + planWBOT * item.TechnicalBreadth)| number:2}} </td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


