﻿<!--Plan Patent tech analysis Table-->
<div class="panel panel-default" style="margin:10px 0px;">
	<div class="panel-heading" style="color:cornflowerblue;font-weight:bold;">
		<span>專利技術領域分析表</span>
		@*<button id="startTechTableAna" type="button" class="choice-patent-to-proj btn btn-primary btn-xs" style="float:right;" 
				ng-click="doTechFieldTableANLYS()"
				ng-show="techFieldViewModel.TechANLYSPatents.length > 0">執行分析</button>*@
	</div>
	<!--No Data Show-->
	<div class="panel panel-default" ng-show="techFieldViewModel.TechANLYSPatents.length == 0 || techFieldViewModel.TechANLYSPatents == null">
		<div class="panel-body">
			<p class="text-center text-muted" style="font-size:large;">No Data</p>
		</div>
	</div>
	<!--Data-->
	<table class="table table-hover" id="PatentTechFieldAnalysisTable" 
		   ng-show="techFieldViewModel.TechANLYSPatents.length > 0">
		<thead>
			<tr>
				<th rowspan="2">#</th>
				<th rowspan="2" style="width:7%;">美國專利公告號</th>
				<th rowspan="2" style="width:5%;">合作分類號</th>
				<th rowspan="2" style="width:4%;">所在階層</th>
				<th colspan="{{techFieldMaxLVs.length}}">同源技術領域下各階層的「審查引證」專利件數</th>
				<th colspan="{{techFieldMaxLVs.length}}">同源技術領域下各階層的「被引證」專利件數</th>
				<th rowspan="2">非同源技術領域下各階層的「審查引證」專利件數</th>
				<th rowspan="2">非同源技術領域下各階層的「被引證」專利件數</th>
				<th rowspan="2" style="width:4%;">技術深度</th>
				<th rowspan="2" style="width:4%;">技術廣度</th>
			</tr>
			<tr class="rowspan2">
				<th ng-repeat="i in techFieldMaxLVs track by $index">{{$index}}</th>
				<th ng-repeat="i in techFieldMaxLVs track by $index">{{$index}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="patent in techFieldViewModel.TechANLYSPatents track by $index">
				<td class="rowNum">{{$index+1}}</td>
				<td class="pn">US {{patent.PatentNumber | number:0}}</td>
				<td class="main-cpc">{{patent.PatentMainCPC}}</td>
				<td class="at-lv">{{patent.PatentMainCPCLevel}}</td>
				<td class="homo-bw-citation" ng-repeat="homoBw in patent.HomologyBWCitationSTAT">
					<span ng-if="homoBw > 0" class="color-red">{{homoBw}}</span>
					<span ng-if="homoBw == 0">{{homoBw}}</span>
				</td>
				<td class="homo-fw-citation" ng-repeat="homoFw in patent.HomologyFWCitationSTAT">
					<span ng-if="homoFw > 0" class="color-red">{{homoFw}}</span>
					<span ng-if="homoFw == 0">{{homoFw}}</span>
				</td>
				<td class="nonHomo-bw-citation-count">
					<span class="text-info NonHomologyBWCitationCount">{{patent.NonHomologyBWCitationCount}}</span>
				</td>
				<td class="nonHomo-fw-citation-count">
					<span class="text-info NonHomologyFWCitationCount">{{patent.NonHomologyFWCitationCount}}</span>
				</td>
				<td class="tech-depth">{{patent.TechnicalDepth}}</td>
				<td class="tech-breadth">{{patent.TechnicalBreadth}}</td>
			</tr>
		</tbody>
	</table>
</div>

