﻿<!-- patent tech analysis distribute chart -->
<div class="panel panel-default" style="margin:10px 0px;">
	<div class="panel-heading" style="color:cornflowerblue;font-weight:bold;">
		<span>標的專利技術分佈圖</span>
		<div id="d3-fn-btns" ng-show="d3Model.length > 0">
			<div class="checkbox fn-checkbox">
				<label class="pos-trendline">
					<input class="fn-toggle" type="checkbox" checked connect="positiveLine" />Positive Trendline
				</label>
			</div>
			<div class="checkbox fn-checkbox">
				<label class="neg-trendline">
					<input class="fn-toggle" type="checkbox" checked connect="negativeLine" />Negative Trendline
				</label>
			</div>
			<div class="checkbox fn-checkbox">
				<label class="top25-deep">
					<input class="fn-toggle" type="checkbox" checked connect="drawDeepAreaContainer" />Top 25% DOT Area
				</label>
			</div>
			<div class="checkbox fn-checkbox">
				<label class="top25-wide">
					<input class="fn-toggle" type="checkbox" checked connect="drawWideAreaContainer" />Top 25% BOT Area
				</label>
			</div>
			<div class="fn-export">
				<a id="exportToPNG" class="btn btn-primary">Export to PNG</a>
				<a id="exportToSVG" class="btn btn-primary">Export to SVG</a>
			</div>
		</div>
		@*<button type="button" class="choice-patent-to-proj btn btn-primary btn-xs" style="float:right;" ng-click="PatentDistbutionD3_Click()">執行分析</button>*@
	</div>
	<!--No Data Show-->
	<div class="panel panel-default" ng-show="d3Model.length == 0">
		<div class="panel-body">
			<p class="text-center text-muted" style="font-size:large;">No Data</p>
		</div>
	</div>
	<!--SVG 標的專利技術分佈圖-->
	<div id="svg-useD3-container" class="svg-useD3-container" ng-show="d3Model.length > 0">
		<svg id="svg-main">
			<defs>
				<style type="text/css">
					.hide {
						display: none;
					}
					.pn-text:hover {
						font-size: 16px;
						fill: blue;
						cursor: default;
					}
				</style>
			</defs>
		</svg>
	</div>
</div>

