﻿
@{
	ViewBag.Title = "下載專利管理";
	Layout = "~/Views/Shared/_CPSearchLayout.cshtml";
	var totalpatents = 34500;
}
@section styles{
	<link type="text/css" href="~/Content/Pages/Backend_Patent_Index.css" rel="stylesheet" />
}
@section scripts{
	<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
	<script src="~/signalr/hubs"></script>
	<script type="text/javascript" src="~/Scripts/angular.min.js"></script>
	<script type="text/javascript" src="~/Scripts/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="~/Scripts/bootstrap-waitingfor.js"></script>
	<script type="text/javascript">
		/* ========================
    	 * assign variables
    	 * ========================*/
		var apis = {
			"pSearchUrl": '@Url.Action("PSearch", "Patent", new { area="Backend" })',
			"pDeleteUrl":'@Url.Action("PDelete", "Patent", new { area = "Backend" })'
		};
		/* ========================
    	 * Signal R
    	 * ========================*/
		/*
		var chatHubProxy = $.connection["PatentManagentQueryHub"];
		
		chatHubProxy.client.broadcastMessage = function (message) {
			console.log("Borad Message");
			console.log(message);
		};*/

		/* ===============================
		 * Angular
		 * ==================================*/
		var app = angular.module("patentApp", ['ngSanitize']);
		app.controller("mainCtrl", function ($scope, $http) {
			//viewModel
			$scope.vm = [];
			
			//UI Events
			$scope.queryBtn_Click = function () {
				var postData = {
					"QueryText": $("#qtext").val(),
					"PubStartDate": $("#date-start").val(),
					"PubEndDate": $("#date-end").val(),
				};
				//console.log(postData);
				$http.post(apis.pSearchUrl, postData).then(function succ(result, status, headers, config) {

					var data = result.data;
					var records = data.Records;
					console.log(records);
					$scope.vm = records;
				});
			};//end
			$scope.vm_item_delete_Click = function (pid, dbid, idx) {
				//console.log("pid :" + pid);
				//console.log("dbid :" + dbid);
				var patentPN = $scope.vm[idx].PatentNumber;
				var confirmMsg = "確定刪除 「" + patentPN + "」?";
				if (confirm(confirmMsg)) {
					var postData = {
						"pid": pid,
						"dbid": dbid,						
					};
					//console.log(postData);
					$http.post(apis.pDeleteUrl, postData).then(function succ(result, status, headers, config) {
						console.log(result);
						var data = result.data;
						var success = data.Success;
						var msg = data.Message;
						if (success) {
							//console.log("idx :" + idx);
							$scope.vm.splice(idx, 1);//remove
						}
						console.log("success :" + success);
						console.log("msg :" + msg);
					});
				}//end confirm
			};//end

			
		});
	</script>
}
<div class="main-container-content" ng-controller="mainCtrl">
	<div class="search-container">
		<div class="row">
			<div class="col-md-4">
				<input class="form-control" type="text" id="qtext" name="qtext" placeholder="patent number, title, " />
			</div>
			<div class="col-md-4">
				<button type="button" class="btn btn-primary qbtn" ng-click="queryBtn_Click()">查詢</button>
			</div>
		</div>
		<br />
		<div class="row time-area">
			<div class="col-md-4">
				<div class="input-group">
					<span class="input-group-addon"><span> 公開起始日 </span><span class="glyphicon glyphicon-calendar"></span> </span>
					<input type="date" class="form-control" id="date-start" aria-describedby="date-start">
					<span class="input-group-addon"><span> 公開結束日 </span><span class="glyphicon glyphicon-calendar"></span> </span>
					<input type="date" class="form-control" id="date-end" aria-describedby="date-end">
				</div>
			</div>
		</div>
		<div class="row">
			@*<div class="col-md-4">
				<div ng-repeat="item in vmTest track by $index">
					<p>index : {{$index}} value : {{item}}</p>
					<button ng-click="vm_delete_click($index)">Delete</button>
				</div>
			</div>*@
		</div>
	</div>
	<hr />
	<div class="search-result-container" ng-if="vm.length > 0">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"></h3>
				<br />
				<h3 class="panel-title">搜尋結果 : {{vm.length}} patents</h3>
			</div>
			<div class="panel-body">
				<div class="vm-records">
					<table class="table table-hover">
						<thead>
							<tr>
								<th width="2%" class="row-num">#</th>
								@*<th class="pid">PID</th>*@
								<th class="patentnumber">PatentNumber</th>
								<th class="title">Title</th>
								<th class="applicationdate">ApplicationDate</th>
								<th class="publicdate">PublicDate</th>
								@*<th class="detailurl">DetailUrl</th>*@
								@*<th class="state">State</th>*@
								<th class="abstract">Abstract</th>
								<th class="cpcs">CPCs</th>
								<th class="inventors">Inventors</th>
								<th class="func">Actions</th>
							</tr>
						</thead>
						<tbody>
							<!-- Add row here -->

							<tr ng-repeat="item in vm track by $index">
								<td class="c_idx" data_pid="{{item.PID}}">{{$index+1}}</td>
								<td class="c_patentnumber">{{item.PatentNumber}}</td>
								<td class="c_title">{{item.PatentTitle}}</td>
								<td class="c_applicationdate">{{item.ApplicationDate}}</td>
								<td class="c_publicdate">{{item.PublicDate}}</td>
								@*<td class="c_detailurl">{{item.DetailUrl}}</td>
									<td class="c_state">{{item.State}}</td>*@
								<td class="c_abstract" ng-bind-html="item.Abstract"></td>
								<td class="c_cpcs">
									<div ng-repeat="cpc in item.CPCs">
										<span>{{cpc}}</span>
										<br />
									</div>
								</td>
								<td class="c_inventors">
									<div ng-repeat="invt in item.Inventors">
										<span>{{invt}}</span>
										<br />
									</div>
								</td>

								<!--如果有刪除功能按鈕，取消此註解, 然後實作 vm_item_delete_Click 方法-->
								<td>
								  <span ng-click="vm_item_delete_Click(item.PID, item.DBID, $index)" class="glyphicon glyphicon-remove color-red cursor-pointer" aria-hidden="true"></span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
