﻿<div class="row">
	<div class="col-lg-12">
		<!--檢索-->
		<div class="input-group" style="margin-top:10px;">
			<input type="text" class="form-control" style="max-width:100%;" id="searchText" 
				   placeholder="Search... 專利名稱/摘要/專利號" ng-model="queryText"/>
			<span class="input-group-btn">
				<button class="qsearch-btn btn btn-primary" type="button" ng-click="quickSearch()">檢索</button>
			</span>
		</div>
		<!--檢索來源-->
		<div class="input-group" style="margin-top:10px;">
			<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox2" value="option2" checked><span>線上檢索 (Google Patents)</span>
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox1" value="option1" /><span>站內檢索 (Local DB)</span>
			</label>
			
		</div>
	</div><!-- /.col-lg-6 -->
</div>