﻿<div class="panel panel-default" style="margin:10px 0px;">
	<div class="panel-heading">
		<span>檢索結果 (勾選專利加入「分析計畫」)</span>
		<span style="margin-left:-3px;">專利數 : <span class="proj-patent-count" ng-bind="queryTotalCount"></span></span>
		<!-- 分頁-->
		<div style="float:right;margin:0px 2px;">
			<ul class="pagination pagination-sm">
				<li ng-show="queryPageIndex > 1"><a href="javascript:void(0)" ng-click="toPrevQueryPage()">&laquo;</a></li>
				<li class="active"><a href="#" ng-bind="queryPageIndex">1</a></li>
				<li ng-show="queryPageIndex < (queryTotalCount / pageSize)"><a href="javascript:void(0)" ng-click="toNextQueryPage()">&raquo;</a></li>
			</ul>
		</div>
		<div class="changePageCount" style="float:right;margin-right:10px;">
			<span>每頁: </span>
			<select ng-model="pageSize" ng-init="pageSize = pageSizeOption[0]"  ng-options="option for option in pageSizeOption"  ng-change="chageQueryPageSize()">
			</select>
			<span>筆</span>
		</div>
	</div>
	<div class="table-container" style="max-height:800px;overflow:scroll;">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>勾選</th>
					<th>#</th>
					<th style="width:10%;">專利號</th>
					<th style="width:30%;">專利名稱</th>
					<th style="width:20%;">專利摘要</th>
					<th style="width:8%;">發佈日</th>
					<th>發明人</th>
				</tr>
			</thead>
			<tbody ng-show="pageList.length > 0">
				<tr ng-repeat="item in pageList">
					<td><input type="checkbox" class="search-result-checkbox"  ng-click="downloadPatent(item, $event)"/></td>
					<td ng-bind="((queryPageIndex - 1) * pageSize) + ($index + 1)"></td>
					<td><a class="text-info" href="~/ScenarioData/Patent1.html" target="_blank" ng-bind="item.PatentNumber"></a></td>
					<td ng-bind="item.Title"></td>
					<td ng-bind-html="item.Abstract"></td>
					<td ng-bind="item.PublicDate"></td>
					<td></td>
				</tr>
				@*<tr>
					<td><input type="checkbox" class="search-result-checkbox" /></td>
					<td>2</td>
					<td><a class="text-info">US 8,388,352</a></td>
					<td>Duck head connector</td>
					<td>Embodiments are directed to a duck head connector comprised of a connector for connecting to a power ...</td>
					<td>2011-07-01</td>
					<td>David Johnson;Michael Jordan;Allen Iverson</td>
					<td><span class="glyphicon glyphicon-time color-red"></span></td>
				</tr>
				<tr>
					<td><input type="checkbox" class="search-result-checkbox" /></td>
					<td>3</td>
					<td><a class="text-info">US 8,360,788</a></td>
					<td>Freely rotatable electrical conduction structure and receptacle using the same</td>
					<td>The present invention provides a freely rotatable electrical conduction structure including at least ...</td>
					<td>2011-07-01</td>
					<td>David Johnson;Michael Jordan;Allen Iverson</td>
					<td><span class="glyphicon glyphicon-download color-gold"></span></td>
				</tr>*@
			</tbody>
		</table>
	</div>
</div>
