﻿<div class="row">
	<div class="col-md-2">
		<p class="field-caption">查詢</p>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label for="as_q">包含<span class="text-bold">全部</span>的字詞</label>
			<input type="text" class="form-control input-margin" id="as_q" ng-model="advSearchForm.ContainsAllOfTheWords" />
		</div>
		<div class="form-group">
			<label for="as_epq">
				包含<span class="text-bold">完整的字句</span>
			</label>
			<input type="text" class="form-control input-margin" id="as_epq" ng-model="advSearchForm.ContainsTheCompleteWord" />
		</div>
		<div class="form-group">
			<label for="as_oq">包含<span class="text-bold">其中一個</span>字詞</label>
			<input type="text" class="form-control input-margin" id="as_oq" ng-model="advSearchForm.IncludeOneOfTheWords" />
		</div>
		<div class="form-group">
			<label for="as_eq">
				<span class="text-bold">不包含</span>指定的字詞
			</label>
			<input type="text" class="form-control input-margin" id="as_eq" ng-model="advSearchForm.DoesNotContainTheSpecifiedWord" />
		</div>
	</div>
	<div class="col-md-2">
		<button type="button" class="advSearch btn btn-primary" ng-click="quickSearch()">檢索</button>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
		<p class="field-caption">專利號</p>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label for="as_pnum">根據指定的專利號搜尋專利</label>
			<input type="text" class="input-margin form-control" id="as_pnum" ng-model="advSearchForm.PatentNumber" />
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
		<p class="field-caption">書名</p>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label for="as_vt">根據指定的專利名稱搜尋專利</label>
			<input type="text" class="input-margin form-control" id="as_vt" ng-model="advSearchForm.Title" />
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
		<p class="field-caption">發明人</p>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label for="as_pinvent">根據指定的發明人姓名搜尋專利</label>
			<input type="text" class="input-margin form-control" id="as_pinvent" ng-model="advSearchForm.Inventor" />
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
		<p class="field-caption">原專利權人</p>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label for="as_pasgnee">根據指定的原專利權人姓名搜尋專利</label>
			<input type="text" class="input-margin form-control" id="as_pasgnee" ng-model="advSearchForm.Applicant" />
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
		<p class="field-caption">現行美國專利分類號</p>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label for="as_pusc">根據指定的現行美國專利分類號搜尋專利</label>
			<input type="text" class="input-margin form-control" id="as_pusc" ng-model="advSearchForm.UPC" />
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
		<p class="field-caption">國際專利分類號</p>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label for="as_pintlc">根據指定的國際專利分類號搜尋專利</label>
			<input type="text" class="input-margin form-control" id="as_pintlc" ng-model="advSearchForm.IPC" />
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
		<p class="field-caption">合作分類</p>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label for="as_pcoopc">根據指定的合作專利分類號搜尋專利</label>
			<input type="text" class="input-margin form-control" id="as_pcoopc" ng-model="advSearchForm.CPC" />
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
		<p class="field-caption">專利類型狀態</p>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label for="as_ptypeorstatus">根據指定的類型/狀態搜尋專利</label>
			<select class="form-control" name="as_ptypeorstatus" id="as_ptypeorstatus" ng-model="advSearchForm.PatentType">
				<option ng-repeat="option in patentTypeOptions" value="{{option.value}}">{{option.text}}</option>
			</select>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
		<p class="field-caption">日期</p>
	</div>
	<div class="col-md-10">
		<div class="radio">
			<label>
				<input id="qc_is" name="as_drrb_is" type="radio" ng-model="advSearchForm.IsSearchAllDate" data-ng-value="true" checked="checked" />
				搜尋所有日期的專利
			</label>
		</div>

		<div class="radio">
			<label>
				<input id="bc_is" name="as_drrb_is" type="radio" ng-model="advSearchForm.IsSearchAllDate" data-ng-value="false" />
				搜尋介於
			</label>
		</div>
		<div class="form-group form-horizontal">
			<select style="width:70px;display:inline-block;" class="form-control" name="as_minm_is" ng-model="advSearchForm.StartMonth">
				<option ng-repeat="option in monthOptions" value="{{option.value}}">{{option.text}}</option>
			</select>
			<input style="width:100px;display:inline-block;" class="form-control" size="4" maxlength="4" type="text" name="as_miny_is" ng-model="advSearchForm.StartYear" />
			<div style="display:inline-block;margin:0px 2px;">和</div>
			<select style="width:70px;display:inline-block;" class="form-control" name="as_maxm_is" ng-model="advSearchForm.EndMonth">
				<option ng-repeat="option in monthOptions" value="{{option.value}}">{{option.text}}</option>
			</select>
			<input style="width:100px;display:inline-block;" class="form-control" size="4" maxlength="4" type="text" name="as_maxy_is" ng-model="advSearchForm.EndYear" />
			<div style="display:inline-block;margin:0px 2px;">之間的專利</div>
		</div>
		<span><span class="eg">例如「1999 年 至 2000 年」，或「1999 年 1 月 至 2000 年 12 月」</span></span>
		<hr />
	</div>
</div>
<div class="row">
	<div class="col-md-2">
		<p class="field-caption">設定日期條件</p>
	</div>
	<div class="col-md-10">
		<label class="radio-inline" for="application_date_type">
			<input id="application_date_type" name="as_pdatetype" type="radio" ng-model="advSearchForm.DateType" value="FilingDate" checked="checked" />
			依據申請日期
		</label>

		<label class="radio-inline" for="issue_date_type">
			<input id="issue_date_type" name="as_pdatetype" type="radio" ng-model="advSearchForm.DateType" value="PublicationDate" />
			依據許可日期
		</label>
	</div>
</div>
