﻿@using Web.CPSearch.Models;
@{
	Layout = "~/Views/Shared/_CPSearchLayout.cshtml";
	ViewBag.Title = "分析計畫列表";
}
@section styles{
	<style type="text/css">
		.pagination-sm {
			margin: 0px;
			right: 0px;
			position: absolute;
		}
	</style>
}
<div class="main" data-ng-controller="PatentController">
	<div class="row">
		<div class="col-lg-4" style="width: 363px;">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="計劃名稱/描述/使用者 ID(Email)/使用者名稱" ng-model="queryText" />
				<span class="input-group-btn">
					<button class="btn btn-primary" type="button" ng-click="search()">搜尋</button>
				</span>
			</div><!-- /input-group -->
		</div><!-- /.col-lg-6 -->
		<div class="col-lg-8">
			<uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" items-per-page="itemsPerPage" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()"></uib-pagination>
		</div><!-- /.col-lg-6 -->
	</div><!-- /.row -->
	<hr />	
	<table class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>計畫名稱</th>
				<th>計畫描述</th>
				<th style="text-align:center">專利數</th>
				<th style="text-align:center">建立日期</th>
				<th style="text-align:center">修改日期</th>
				<th style="text-align:center">刪除</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in userPlanList">
				<td style="width:4%;white-space:nowrap;" ng-bind="($index + 1) + (itemsPerPage*(bigCurrentPage-1))"></td>
				<td class="api-name" style="text-align:left" ng-bind="item.BasicInfo.PlanName"></td>
				<td class="api-name" style="text-align:left" ng-bind="item.BasicInfo.PlanDesc"></td>
				<td class="api-name" style="width:8%;text-align:center" ng-bind="item.PatentCount"></td>
				<td class="api-name" style="width:8%;text-align:center" ng-bind="item.CreateDateTimeText"></td>
				<td class="api-name" style="width:8%;text-align:center" ng-bind="item.ModifyDateTimeText"></td>
				<td class="api-name" style="width:8%;text-align:center">
					<button type="button" class="btn btn-danger" ng-click="deleteUserPlan(item, $index, $event)">刪除</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

@section scripts{
	<script src="~/Scripts/angular.min.js"></script>
	<script src="~/Scripts/ui-bootstrap-tpls-1.2.4.min.js"></script>
	<script type="text/javascript">
		var app = angular.module("patentApp", ['ui.bootstrap']);
		app.controller('PatentController', function ($scope, $http) {
			$scope.userPlanList = [];

			var getPageDataUrl = '@Url.Action("GetUserPlanListByPagination", "Plan")';
			var deleteUserPlanUrl = '@Url.Action("DeleteUserPlan", "Plan")';

			getPageData(1);

			$scope.pageChanged = function () {
				getPageData($scope.bigCurrentPage);
			};

			$scope.deleteUserPlan = function (item, index, event) {
				if (confirm("確定刪除?")) {
					$http.post(deleteUserPlanUrl, { planId: item.BasicInfo.PlanId }).success(function (result, status, headers, config) {
						if (result.success) {
							$scope.userPlanList.splice(index, 1);
						} else {
							console.log(result.message);
						}
					});
				}
			};

			$scope.search = function () {
				getPageData(1);
			}

			function getPageData(pageIndex) {
				$http.post(getPageDataUrl, { queryText: $scope.queryText, pageIndex: pageIndex, pageSize: $scope.itemsPerPage }).success(function (result, status, headers, config) {
					console.log(result);
					$scope.userPlanList = result;
					$scope.bigTotalItems = result.length;
					$scope.bigCurrentPage = pageIndex;
					//console.log("pIdx : " + pageIndex);
				}).error(function (data, status, header, config) {
					
				});
			}

			$scope.itemsPerPage = 20
			$scope.maxSize = 6;

		});
	</script>
}
