﻿@model Web.CPSearch.Areas.Backend.Models.ControlledSettings.LoginPageViewModel
@{
	ViewBag.Title = "一般設定管理";
	Layout = "~/Views/Shared/_CPSearchLayout.cshtml";
	var logoTextChecked = (Model.UseLogoText) ? "checked" : "";
	var logoImageChecked = (Model.UseLogoText) ? "" : "checked";
	var logoImagePath = (String.IsNullOrEmpty(Model.LogoImageVirtualPath)) ? "" : VirtualPathUtility.ToAbsolute(Model.LogoImageVirtualPath);
	var logoText = Model.LogoText;
	ViewData["LogoParamModel"] = new Tuple<string, string>(logoText, logoImagePath);
}
@section styles{
	<link type="text/css" rel="stylesheet" href="~/Content/Pages/Backend_Home_ControlledSettings.css" />
}
@section scripts{
	<script src="~/Scripts/angular.min.js"></script>
	<script src="~/Scripts/angular-sanitize.min.js"></script>
	<script src="~/Scripts/notifyjs/notify.min.js"></script>
	<script type="text/javascript">
		var app = angular.module("patentApp", []);
		/* ====================
		 * 統合分數權重
		 *======================*/
		app.controller("wSettingController", function ($scope, $http) {
			//Define
			$scope.wDOT = 0.1;
			$scope.wBOT = 0.9;
			$scope.OriWeight = { "DOT": $scope.wDOT, "BOT": $scope.wBOT };
			$scope.showSaveChanges = "hide";

			$scope.Init = function () {
				var url = '@Url.Action("GetWeightSettings", "Home")';
				var data = null;

				$http.post(url, data).then(function succ(res, status, headers, config) {
					//console.log(res.data);
					var vm = res.data;
					$scope.wDOT = vm.DOT;
					$scope.wBOT = vm.BOT;
					$scope.OriWeight = { "DOT": vm.DOT, "BOT": vm.BOT };
				});
			};

			$scope.weight_Changed = function (wType) {
				//Limitation:
				// 1) wBOT + wDOT = 1
				// 2) wBOT, wDOT > 0
				switch (wType) {
					case "DOT":
						$scope.wBOT = Math.round((1 - $scope.wDOT) * 100.0) / 100.0;
						break;
					case "BOT":
						$scope.wDOT = Math.round((1 - $scope.wBOT) * 100.0) / 100.0;
						break;
				}
				$scope.showSaveChanges = ($scope.wBOT != $scope.OriWeight.BOT || $scope.wDOT != $scope.OriWeight.DOT) ?
					"" : "hide";
			};//end
			$scope.saveWeightChanges_Click = function () {
				var confirmText = "Are you sure to update the settings ?";
				if (confirm(confirmText)) {
					var url = '@Url.Action("UpdateWeightSettings", "Home")';
					var data = { "BOT": $scope.wBOT, "DOT": $scope.wDOT };
					$http.post(url, data).then(function succ(res, status, headers, config) {
						console.log(res.data);
						var vm = res.data;
						if (!vm.Success) {
							alert(vm.ErrMsg);
						}
						else {
							$scope.OriWeight = { "DOT": $scope.wDOT, "BOT": $scope.wBOT };
							$scope.showSaveChanges = "hide";
						}
					});
				}
			};//end
			$scope.resetWeightChanges_Click = function () {
				$scope.wDOT = $scope.OriWeight.DOT;
				$scope.wBOT = $scope.OriWeight.BOT;
				$scope.showSaveChanges = "hide";
			};//

			//Act
			$scope.Init();
		});

		/* ====================
		 * 登入頁面樣式設定
		 *======================*/
		var logoTextChecked = '@logoTextChecked';
		var logImageChecked = '@logoImageChecked';
		var logoTextVal = '@logoText';
		var logoImagePath = '@logoImagePath';
		var logoVirImagePath = '@Model.LogoImageVirtualPath';
		var logoTextUpdateUrl = '@Url.Action("UpdateLoginPageSettings", "Home")';
		var logoImageUpdateUrl = '@Url.Action("UpdateLoginPageLogoImage", "Home")';

		var targetClass = (logoTextChecked == 'checked') ?
			".TemplateName1.update-input-container" : ".TemplateName2.update-input-container";
		$(targetClass).addClass("show");

		app.controller("logoController", function ($scope, $http) {
			/*Init model values*/
			$scope.logoText = logoTextVal;

			/*UI Events*/
			$scope.logoText_Change = function () {
				var nVal = $("#textOnly").val();
				$scope.logoText = nVal;
			};
			$scope.logoText_Save = function () {
				var url = logoTextUpdateUrl;
				var data = { "logoText": $scope.logoText };
				$http.post(url, data).then(function succ(res, status, headers, config) {
					var model = res.data;
					var dispMsg = (model.Success) ? "更新成功" : model.ErrMsg;
					var dispType = (model.Success) ? "success" : "error";
					$scope.showMsg(dispMsg, dispType);
				});
			}
			$scope.logoImage_Save = function () {
				var url = logoImageUpdateUrl;
				var data = { "logoImageVirtualPath": logoVirImagePath };
				$http.post(url, data).then(function succ(res, status, headers, config) {
					var model = res.data;
					var dispMsg = (model.Success) ? "更新成功" : model.ErrMsg;
					var dispType = (model.Success) ? "success" : "error";
					$scope.showMsg(dispMsg, dispType);
					//console.log(model);
				});
			};
			$scope.showMsg = function (dispMsg, dispType) {
				$.notify(dispMsg, { "className": dispType, "position": "top center", "autoHideDelay": 1500 });
			};
		});
		//blog-title
		$("input[name='TemplateName']").on("click", function () {
			$(".update-input-container").toggleClass("show");
			var imgSrc = $("#preview-image").attr("src");
			if (imgSrc == "") {
				$(".save-useLogoImage").show();
			}
		});

		document.getElementById("files").onchange = function () {
			var reader = new FileReader();

			reader.onload = function (e) {
				// get loaded data and render thumbnail.
				document.getElementById("preview-image").src = e.target.result;
			};
			$(".save-useLogoImage").hide();
			$(".preview-image-container").show();
			// read the image file as a data URL.
			reader.readAsDataURL(this.files[0]);
		};
	</script>
}
<h2>一般設定管理</h2>
<div class="main" ng-app="patentApp">
	<ul class="nav nav-tabs">
		<li role="presentation" class="active"><a href="#website" data-toggle="tab">登入頁面樣式設定</a></li>
		<li role="presentation" class=""><a href="#wSetting" data-toggle="tab">統合分數權重</a></li>
	</ul>
	<div class="tab-content">
		<!--登入頁面樣式設定-->
		<p class="text-success">請選擇其中一個樣式</p>
		<div class="tab-pane active" id="website" style="padding:20px" ng-controller="logoController">
			<div class="radioG">
				<div class="radio">
					<label style="vertical-align:top;"><input @logoTextChecked type="radio" name="TemplateName" class="TemplateName1" value="TextOnly" />文字樣式</label>
					<div class="form-group form-inline TemplateName1 update-input-container">
						<label>目前設定值</label>
						<input ng-model="logoText" ng-change="logoText_Change()" 
							   type="text" class="form-control" name="TemplateValue" id="textOnly" 
							   style="width:377px;"
							   value="Patent Search & Analysis" />
						<button class="btn btn-primary" ng-click="logoText_Save()">儲存</button>
					</div>
					<div class="Demo">
						@{Html.RenderPartial("TradeMark/_TextOnly", ViewData);}
					</div>
				</div>
				<br />
				<div class="radio">
					<label style="vertical-align:top;"><input @logoImageChecked type="radio" name="TemplateName" class="TemplateName2" value="ImageOnly" />圖片樣式 (120 * 90 px)</label>
					<div class="Demo">
						@{Html.RenderPartial("TradeMark/_ImageOnly", ViewData);}
					</div>
				</div>
			</div>
			@using (Html.BeginForm("UploadLogo", "Home", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
			{
				<div class="TemplateName2 update-input-container">
					<button type="button" class="btn btn-primary save-useLogoImage" style="margin-bottom:10px;" ng-click="logoImage_Save()">儲存設定</button>
					<div class="form-inline">
						<label>
							上傳新圖片<input type="file" name="file" id="files" />
						</label>
					</div>
					<br />
					<div class="preview-image-container" style="display:none;">
						<img id="preview-image" width="120" />
						<br />
						<div><input type="submit" class="btn btn-primary" value="上傳" /></div>
					</div>
				</div>
			}
		</div>
		<!--統合分數權重-->
		<div class="tab-pane" id="wSetting" ng-controller="wSettingController">
			<div class="weight-container" style="margin:10px 0px;">
				<div class="row">
					<div class="col-md-2">
						<p class="field-caption">
							<span><b>技術深度 W1 (DOT)</b></span>
							<input type="number" step="0.01" min="0.01" max="0.99" maxlength="4" class="input-margin text-right" id="w1" ng-model="wDOT" ng-change="weight_Changed('DOT')" />
						</p>
					</div>
					<div class="col-md-2">
						<p class="field-caption">
							<b class="color-red">**</b>
							<span>W1 + W2 = 1</span>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<p class="field-caption">
							<span><b>技術廣度 W2 (BOT)</b></span>
							<input type="number" step="0.01" min="0.01" max="0.99" class="input-margin text-right" id="w2" ng-model="wBOT" ng-change="weight_Changed('BOT')" />
						</p>
					</div>
					<div class="col-md-2">
						<p class="field-caption">
							<b class="color-red">**</b>
							<span>W1 > 0, W2 > 0</span>
						</p>
					</div>
				</div>
				<div class="row {{showSaveChanges}}">
					<div class="col-md-2 col-md-offset-2">
						<button class="btn btn-danger" ng-click="saveWeightChanges_Click()">Save Changes</button>
						<button class="btn btn-default" ng-click="resetWeightChanges_Click()">Reset</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


