﻿
@{
	/*HomeConroller*/
	ViewBag.Title = "Overview";
	Layout = "~/Views/Shared/_CPSearchLayout.cshtml";
}
@section styles{
	<link type="text/css" rel="stylesheet" href="/Content/Pages/Backend.Home_Index.css" />
}

<h2>Overview</h2>
<div class="row">
	<div class="col-md-3">
		<div class="box">
			@*管理者授權人數*@
			<canvas id="UserSTAT" class="zone"></canvas>
			<div class="text-center lead">登入授權</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="box">
			@*專利數年份*@
			<canvas id="PatentSTAT" class="zone"></canvas>
			<div class="text-center lead">專利年份統計</div>
			@*<canvas id="myChart" class="zone"></canvas>
				<div class="text-center lead">專利統計</div>*@
		</div>
	</div>
</div>
@section scripts
{
	@Scripts.Render("~/Scripts/Chart.min.js")
	<script type="text/javascript">
		function goChart(ctx, chartType, chartData, chartOptions) {
			var g = new Chart(ctx, {
				type: chartType,
				data: chartData,
				options: chartOptions
			});
		}
		//============= Pie Chart , 使用者 =================
		function ShowUserSTATChart(canvasId, datasets) {
			var ctx = document.getElementById(canvasId);
			var data = {
				labels: ["已授權人數", "停用人數"],
				datasets: datasets
			};

			// For a pie chart
			goChart(ctx, "pie", data, null);
		}
		//============= Bar Chart, Patent count and year ===
		function showPatentSTATChart(cavasId, datasets) {
			var ctx = document.getElementById(cavasId);
			var labels = ["1980", "1986", "1988", "1992", "1993", "1996", "1997", "1998", "2000", "2001", "2003", "2004",
"2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016"];
			//labels = ["1980", "1981"];

			var dT = ["1","1","1","1","2","1","1","4","2","1","4","1","2","4","3","1","2","2","2","7","3","3","3"];
			var data = {
				labels: labels,
				dataset: [3, 4],
			};

			var bgColor = "rgb(255, 99, 132)";//"#cc65fe";

			var g = new Chart(ctx, {
				type: "bar",
				data: {
					labels: labels,
					datasets: [{
						label: "Patent Count",
						backgroundColor: bgColor,
						borderColor: 'rgb(255, 99, 132)',
						data: dT,
					}]
				},
				/*
				data: {
					labels: ["January", "February"],
					datasets: [{
						label: "Hello", //
						backgroundColor: 'rgb(255, 99, 132)',
						borderColor: 'rgb(255, 99, 132)',
						data: [0,10,20],
					}]
				}*/
			});
			//goChart(ctx, "bar", data, null);
		}

	</script>
	<script type="text/javascript" id="MainReady">
		$(function () {
			//assign
			var urls = { "UserSTAT": '@Url.Content("~/Backend/Home/GetUserStatistical")' };

			//act UserSTAT
			$.post(urls.UserSTAT, null, function callback(res) {
				//console.log(res);
				var dataset = [
				{
					data: [res.AuthorizedCount, res.UnAuthorizedCount],
					backgroundColor: ["#FF6384", "#36A2EB"],
					hoverBackgroundColor: ["#FF6384", "#FFCE56"]
				}];
				var canvasId = "UserSTAT";
				ShowUserSTATChart(canvasId, dataset);
			}, "json");

			//act ...
			var pDataset = ["1", "1", "1", "1", "2", "1", "1", "4", "2", "1", "4", "1", "2", "4", "3", "1",
"2", "2", "2", "7", "3", "3", "3"];
			showPatentSTATChart("PatentSTAT", pDataset);
		});

	</script>
}

