﻿
@{
	ViewBag.Title = "登入授權管理";
	Layout = "~/Views/Shared/_CPSearchLayout.cshtml";
}
<h2>登入授權管理</h2>
<hr />
<div class="main" data-ng-controller="PatentController">
	<div class="row">
		<div class="col-lg-3">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search for..." ng-model="queryText" />
				<span class="input-group-btn">
					<button class="btn btn-primary" type="button" ng-click="search()">搜尋</button>
				</span>
			</div><!-- /input-group -->
		</div><!-- /.col-lg-6 -->
		<div class="col-lg-9">
		</div><!-- /.col-lg-6 -->
	</div><!-- /.row -->

	<br />
	<table class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>使用者名稱</th>
				<th>Email</th>
				<th>建立日期</th>
				<th style="text-align:center">管理者</th>
				<th style="text-align:center">帳號啟用</th>
				<th style="text-align:center">寄發通知信</th>
				<th style="text-align:center">刪除</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in accountList">
				<td style="width:4%;white-space:nowrap;" ng-bind="($index + 1) + (itemsPerPage*(bigCurrentPage-1))"></td>
				<td class="api-name" style="text-align:left" ng-bind="item.UserName"></td>
				<td class="api-name" style="text-align:left" ng-bind="item.LoginID"></td>
				<td class="api-name" style="width:13%;text-align:center" ng-bind="item.CreateDateTime"></td>
				<td class="api-name" style="width:12%;text-align:center">
					<input type="checkbox" ng-model="item.IsAdmin" ng-checked="item.IsAdmin" ng-click="updateAccountAuthority(item)" />
				</td>
				<td class="api-name" style="width:12%;text-align:center">
					<input type="checkbox" ng-model="item.IsOpened" ng-checked="item.IsOpened" ng-click="updateAccountOpened(item)" />
				</td>
				<td class="api-name" style="width:12%;text-align:center">
					<button type="button" class="btn btn-primary" ng-show="!item.IsOpened" ng-click="sendEmail(item)">寄發通知信</button>
				</td>
				<td class="api-name" style="width:8%;text-align:center">
					<button type="button" class="btn btn-danger" ng-click="deleteAccount(item, $index, $event)">刪除</button>
				</td>
			</tr>
		</tbody>
	</table>
	<uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" items-per-page="itemsPerPage" num-pages="numPages" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
</div>

@section scripts{
	<script src="~/Scripts/angular.min.js"></script>
	<script src="~/Scripts/ui-bootstrap-tpls-1.2.4.min.js"></script>
	<script type="text/javascript">
		var app = angular.module("patentApp", ['ui.bootstrap']);
		app.controller('PatentController', function ($scope, $http) {
			$scope.accountList = [];

			var getPageDataUrl = '@Url.Action("GetAccountListByPagination", "Account")';
			var deleteAccountUrl = '@Url.Action("DeleteAccount", "Account")';
			var updateAccountAuthorityUrl = '@Url.Action("UpdateAccountAuthority", "Account")';
			var updateAccountOpenedUrl = '@Url.Action("UpdateAccountOpened", "Account")';
			var sendEmailUrl = '@Url.Action("SendConfirmAccountEmail", "Account")';
			getPageData(1);

			$scope.pageChanged = function () {
				getPageData($scope.bigCurrentPage);
			};

			$scope.deleteAccount = function (item, index, event) {
				if (confirm("確定刪除?")) {
					$http.post(deleteAccountUrl, { loginId: item.LoginID }).success(function (result, status, headers, config) {
						if (result.success) {
							$scope.accountList.splice(index, 1);
						} else {
							console.log(result.message);
						}
					});
				}
			};

			$scope.updateAccountAuthority = function (item, event) {
				$http.post(updateAccountAuthorityUrl, { loginId: item.LoginID, isAdmin: item.IsAdmin }).success(function (result, status, headers, config) {
					console.log(result);
				}).error(function (data, status, header, config) {

				});
			};

			$scope.updateAccountOpened = function (item, event) {
				$http.post(updateAccountOpenedUrl, { loginId: item.LoginID, isOpened: item.IsOpened }).success(function (result, status, headers, config) {
					console.log(result);
				}).error(function (data, status, header, config) {

				});
			};

			$scope.sendEmail = function (item, event) {
				if (confirm("確定寄發通知信?")) {
					$http.post(sendEmailUrl, { loginId: item.LoginID }).success(function (result, status, headers, config) {
						if (result.success) {
							alert("寄送成功");
						} else {
							alert("寄送失敗");
						}
					}).error(function (data, status, header, config) {

					});
				}
			};

			$scope.search = function () {
				getPageData(1);
			}

			function getPageData(pageIndex) {
				$http.post(getPageDataUrl, { queryText: $scope.queryText, pageIndex: pageIndex, pageSize: $scope.itemsPerPage }).success(function (result, status, headers, config) {
					$scope.accountList = result.AccountList;
					$scope.bigTotalItems = result.TotalItemCount;
					$scope.bigCurrentPage = result.PageIndex;
					console.log(result.TotalItemCount);
				}).error(function (data, status, header, config) {

				});
			}

			$scope.itemsPerPage = 20
			$scope.maxSize = 6;

		});
	</script>




}
