﻿
@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="myApp-container" ng-app="myApp">
	{{999+1}}
	<div class="form-group">
		<button id="callbyWebApi" class="btn btn-primary">callbyWebApi</button>
	</div>
</div>
@section scripts{
	<script type="text/javascript" src="~/Scripts/angular.min.js"></script>
	<script type="text/javascript" src="~/Scripts/angular-sanitize.min.js"></script>

	<script type="text/javascript">
		var app = angular.module("myApp", []);
		$(function () {

			$("#callbyWebApi").click(function () {
				var data = "5830255";
				var apiUrl = "/api/Analysis/MainCPC?pn=" + data;
				var url = apiUrl;
				$.getJSON(url)
                    .done(function (res) {
                    	alert("CallByWebAPI: " + JSON.stringify(res));
                    })
                    .fail(function (jqXHR, textStatus, err) {
                    	alert("Error :" + err);
                    });
			});
		});
	</script>
}

