@model Web.CPSearch.Areas.MvcElmahDashboard.Models.Home.DailyStatsModel
@{
    Layout = null;
    Response.Cache.SetExpires(DateTime.Now.AddDays(1));
    Response.Cache.SetCacheability(HttpCacheability.NoCache);
    var iv = System.Globalization.CultureInfo.InvariantCulture;
    var dateFormat = System.Threading.Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern.Replace("yyyy", "yy").ToUpperInvariant();
    var dateFormatDmNet = (dateFormat.IndexOf("D") < dateFormat.IndexOf("M")) ? "dd/MM" : "MM/dd";
    var dateFormatDmJs = dateFormatDmNet.ToUpperInvariant();
}
@if (!Request.Browser.IsMobileDevice)
{
    <div data-moveto="#content-timetable">
        <div class="col-md-12">
            <div class="thumbnail">
                <table class="table table-condensed">
                    <thead class="hourlabel">
                        <tr>
                            @for (DateTime dt = Model.RangeStart; dt < Model.RangeEnd; dt = dt.AddDays(1))
                            {
                                <th><span data-utctime="@(dt.Epoch())" data-format="@(dateFormatDmJs)">@(dt.ToString(dateFormatDmNet))</span>-<span data-utctime="@(dt.AddDays(1).Epoch())" data-format="@(dateFormatDmJs)">@(dt.AddDays(1).ToString(dateFormatDmNet))</span></th>
                            }
                        </tr>
                    </thead>
                    <tbody class="hourvalue">
                        <tr>
                            @foreach (var value in Model.DailyCounters)
                            {
                                <td>@(value == 0 ? "-" : value.ToString())</td>
                            }
                        </tr>
                    </tbody>
                </table>
                <div class="legend">Error count/day - Last 14 days - Most recent value on the right side</div>
            </div>
        </div>
    </div>
}

<div data-moveto="#content-errorcounter">
    <div><span data-utctime="@(Model.Timestamp.AddDays(-1).Epoch())" data-format="@(dateFormat) hh:mm:ss">@(Model.Timestamp.AddHours(-1))</span> - <span data-utctime="@(Model.Timestamp.Epoch())" data-format="@(dateFormat) hh:mm:ss">@(Model.Timestamp)</span></div>
    <div class="text-center lastvalue">@(Model.LastDayErrors.Count)</div>
    <div class="legend">Error count - Last 24 hours</div>
</div>

<div data-moveto="#content-timegraph">
    <canvas id="graphLast14d" width="900" height="300" data-background="#E0FFE0" data-fill-style="#808080" data-font="28px sans-serif">
        <table class="table table-condensed">
            <tbody>
                <tr data-graph-style="bars">
                    <th></th>
                    @for (int i = 0; i < Model.DailyCounters.Count(); i++)
                    {
                        <td data-fill-style="rgb(@(210-i*7),@(210-i*14),@(210-i*14))">@(Model.DailyCounters[i])</td>
                    }
                </tr>
            </tbody>
        </table>
    </canvas>
    <div class="legend">Error count/day - Last 14 days</div>
</div>

<div data-moveto="#content-sample">
    <h4>Most recent errors</h4>
    <table class="table table-hover table-striped table-condensed">
        <thead>
            <tr style="background-color: #e0e0e0;">
                <th>Seq</th>
                <th>Time</th>
                <th>App</th>
                <th>Host</th>
                <th>Source</th>
                <th>Type</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            @Html.Action("Items", new { controller = "Logs", offset = 0, length = Model.SampleLogCount, truncValueLength = 60 })
        </tbody>
    </table>
    <div class="legend">@(Model.SampleLogCount) latest errors. <a href="@Url.Action("Index", "Logs")">See logs</a> for more.</div>
</div>

<div data-moveto="#content-perapp">
    <h4>Per Application</h4>
    <table class="table table-striped table-condensed">
        <tbody>
            @foreach (var pair in Model.AppDailyCounters.OrderBy(p => p.Key))
            {
                <tr>
                    <th width="99%">@Html.ActionLink(pair.Key, "Index", new { controller = "Logs", application = pair.Key })</th>
                    @for (int i = 0; i < pair.Value.Length; i++)
                    {
                        <td class="hourvalue@(i)">@(pair.Value[i])</td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <div class="legend">Error count/application/day - Last 4 days</div>
</div>
