﻿@model Web.CPSearch.Models.AccountViewModel
@{
    ViewBag.Title = "使用者名稱";
    Layout = "~/Views/Shared/_CPSearchLayout.cshtml";
}

@if (Model.ChangeSuccess)
{
    <div class="alert alert-success register-success" role="alert">
		<p class="text-center">變更成功</p>
    </div>
}
else
{
    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="changeuserinfo" role="tab" data-toggle="tab">使用者名稱</a></li>
            <li role="presentation"><a href="@Url.Action("ChangePassword", "Home")" aria-controls="changepassword" role="tab">密碼變更</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="changeuserinfo" style="padding:30px">

                @using (Html.BeginForm("ChangeAccount", "Home", FormMethod.Post, new { @class = "form-signin", role = "form" }))
                {

                    @Html.LabelFor(m => m.LoginID)
                    <div>@Model.LoginID</div>
                    <br />
                    <span class="required-field">*</span> @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "輸入使用者名稱" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    <br />
                    @Html.LabelFor(m => m.PlanTotalCount)
                    <div>@Model.PlanTotalCount <span>個</span></div>
                    <br />
                    @Html.LabelFor(m => m.CreateDateTime)
                    <div>@Model.CreateDateTime</div>
                    <br />
                    <br />
                    <button class="btn  btn-primary submit-button" type="submit">變更</button>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(m => m.LoginID)
                    @Html.HiddenFor(m => m.PlanTotalCount)
                    @Html.HiddenFor(m => m.CreateDateTime)
                    <div style="text-align: center;color:red;">@ViewBag.ErrorMessage</div>
                }
            </div>
            <div role="tabpanel" class="tab-pane" id="changepassword"></div>
        </div>

    </div>


    @section scripts
    {
        <script type="text/javascript">
            $(function () {
                $(".submit-button").click(function () {
                    return confirm("確定變更?");
                });
            });
        </script>

    }

}

