﻿@model Web.CPSearch.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "密碼變更";
    Layout = "~/Views/Shared/_CPSearchLayout.cshtml";
}

@if (Model.ChangeSuccess)
{
    <div class="alert alert-success register-success text-center" role="alert">
        變更成功
    </div>
}
else
{
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"><a href="@Url.Action("ChangeAccount", "Home")" aria-controls="changeuserinfo" role="tab">使用者名稱</a></li>
            <li role="presentation" class="active"><a href="#profile" aria-controls="changepassword" role="tab" data-toggle="tab">密碼變更</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="changeuserinfo" style="padding:30px">
            </div>
            <div role="tabpanel" class="tab-pane active" id="changepassword" style="padding:30px">
                @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { @class = "form-signin", role = "form" }))
                {
                    <span class="required-field">*</span> @Html.LabelFor(m => m.OldPassword)
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                    <br />
                    <span class="required-field">*</span> @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                    <br />
                    <span class="required-field">*</span> @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    <div style="text-align: left;color:red;">@ViewBag.ErrorMessage</div>
                    <br />
                    <br />
                    <button class="btn  btn-primary submit-button" type="submit">變更</button>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                }

            </div>
        </div>
    </div>


    @section scripts
    {
        <script type="text/javascript">
            $(function () {
                $(".submit-button").click(function () {
                    return confirm("確定變更?");
                });
            });
        </script>

    }

















}

