﻿@model Web.CPSearch.Models.ConfirmAccountResult
@{
    ViewBag.Title = "ConfirmAccountEmail";
    Layout = "~/Views/Shared/_CPSearchLayout.cshtml";
}
<style type="text/css">
    .alert {
        text-align:center;
    }
</style>
<div style="height:500px">
    @if (Model.Success)
    {
        <div class="alert alert-success" role="alert">驗證成功, 是否至 <a href="@Url.Action("Login")" class="alert-link"> CPSearch 登入 </a> ?</div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">驗證失敗, 是否重新至<a href="@Url.Action("Register")" class="alert-link"> CPSearch 註冊 </a> ?</div>
    }
</div>

