﻿@model Web.CPSearch.Models.ForgotPasswordViewModel
@{
	ViewBag.Title = "ForgotPassword";
	Layout = "~/Views/Shared/_LoginLayout.cshtml";

	var repo = new Web.CPSearch.Repos.Manage.LogoRepo();
	var vm = repo.GetLoginPageViewModel();
	var templateName = vm.UseLogoText ? "TextOnly" : "ImageOnly";
	var tradeMarkTemplate = "TradeMark/" + "_" + templateName;

	var logoImagePath = (String.IsNullOrEmpty(vm.LogoImageVirtualPath)) ?
		"" : VirtualPathUtility.ToAbsolute(vm.LogoImageVirtualPath);
	var logoText = vm.LogoText;
	ViewData["LogoParamModel"] = new Tuple<string, string>(logoText, logoImagePath);
}
@{ 
	Html.RenderPartial(tradeMarkTemplate, ViewData);
}
@*<div class="TradeMark" style="border:dashed">
    <h2 class="text-center">Trade Mark Here 360*200px</h2>
</div>*@

@if (Model.SuccessSendEmail)
{
    <div class="alert alert-success register-success" role="alert">
        已寄送重新設定密碼之電子郵件...
    </div>
	<a class="btn btn-success" href="@Url.Action("Login","Home")" style="display:block;width:500px;font-size:large;margin:0 auto;">回登入頁面</a>
}
else
{
	using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post, new { @class = "form-signin", role = "form" }))
	{

        <h2 class="form-signin-heading">Forgot Password</h2>
        @Html.LabelFor(m => m.Email, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "帳號 (電子信箱)" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

        <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit">送出</button>
        <br />
        <div style="text-align: center;color:red;">@Model.Message</div>
    }
    <div class="text-center">
        <p class="create-account">No Account ? <a href="~/Home/Register">Create Account</a></p>
    </div>
}


