﻿@using Web.CPSearch.Models;
@model IEnumerable<LatestUsedPlan>
@{
	ViewBag.Title = "Top 5 分析計畫";
	Layout = "~/Views/Shared/_CPSearchLayout.cshtml";
}
@section styles{
	<style type="text/css">
		div.well {
			border: 5px solid white;
			border-radius: 10px;
		}
		img.top-img{
			border: 1px solid black;
			border-radius:5px;
		}
		.caption-bold{
			font-weight:bold;
		}
	</style>
}
@if (Model != null && Model.Count() > 0)
{
	@Html.Partial("Top5/_LastestUsedPlan", Model)
}
else
{
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Top 5 分析計畫</h4>
		</div>
		<div class="panel-body">
			<p class="text-center text-muted" style="font-size:large;">No Data</p>
			<div class="center-block text-center" style="font-size:large;">
				@Html.ActionLink("建立分析計畫", "Plan", "Home", new { area = "", id = "" }, new { @style = "color:blue;font-weight:bold;" })
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">

		</div>
	</div>
}