﻿@using Web.CPSearch.Models
@model LoginViewModel
@{
	Layout = "~/Views/Shared/_LoginLayout.cshtml";
	var repo = new Web.CPSearch.Repos.Manage.LogoRepo();
	var vm = repo.GetLoginPageViewModel();
	var templateName = vm.UseLogoText ? "TextOnly" : "ImageOnly";
	var tradeMarkTemplate = "TradeMark/" + "_" + templateName;

	var logoImagePath = (String.IsNullOrEmpty(vm.LogoImageVirtualPath)) ?
		"" : VirtualPathUtility.ToAbsolute(vm.LogoImageVirtualPath);
	var logoText = vm.LogoText;
	ViewData["LogoParamModel"] = new Tuple<string, string>(logoText, logoImagePath);
}
@{
	Html.RenderPartial(tradeMarkTemplate, ViewData);
}
@using (Html.BeginForm("Login", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
{

	@*<h2 class="form-signin-heading">Please sign in</h2>*@
	@Html.LabelFor(m => m.LoginID, new { @class = "sr-only" })
	@Html.TextBoxFor(m => m.LoginID, new { @class = "form-control", placeholder = "帳號 (電子信箱)", value = "chuanghungchieh@gmail.com" })
	@Html.ValidationMessageFor(m => m.LoginID, "", new { @class = "text-danger" })
	<br />
	@Html.LabelFor(m => m.Password, new { @class = "sr-only" })
	@Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "密碼" })
	@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

	<div class="checkbox">
		<label>
			<input type="checkbox" value="remember-me"> Remember me
		</label>
	</div>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })

}
<div class="text-center">
	<p class="forgot-password"><a href="~/Home/ForgotPassword">Forgot password</a></p>
	<p class="create-account">No Account ? <a href="~/Home/Register">Create Account</a></p>
</div>