﻿@using Web.CPSearch.Models;
@model PlanInfo
@{
	Layout = "~/Views/Shared/_CPSearchLayout.cshtml";
	ViewBag.Title = "分析計畫";
}
@section styles{
	<link href="~/Content/Pages/Home_Plan.css" rel="stylesheet" />
}
<div class="main two-col-layout-container row" data-ng-controller="PatentController">
	<div class="top-layout">
		<div id="planHeader">
			@RenderPage("~/Views/Home/Plan/_PlanHeaderPartial.cshtml")
		</div>
	</div>
	<hr />
	<div id="searchContainer" class="left-col-container patent-search col-md-5">
		@*<div style="float:right;">
				<span id="collapse-bar" class="glyphicon glyphicon-chevron-left cursor-pointer"></span>
			</div>*@
		@*專利檢索頁籤內容*@
		<div class="tab-pane active main-tabpage1" id="patentSearch">
			@*專利檢索-子頁籤*@
			<ul class="nav nav-tabs">
				<li role="presentation" class="active"><a href="#qSearch" data-toggle="tab">快速檢索</a></li>
				<li role="presentation" class=""><a href="#advSearch" data-toggle="tab">進階檢索</a></li>
				<li role="presentation" class=""><a href="#sResult" id="sResultTab" data-toggle="tab">檢索結果</a></li>
			</ul>
			@*專利檢索-子頁籤內容*@
			<div class="tab-content sub-tabpage">
				<div id="qSearch" class="tab-pane active sub-tabpage1">
					@RenderPage("~/Views/Home/PSearch/_PlanQSearchPartial.cshtml")
					@*<div class="qSearch-result">
							@RenderPage("~/Views/Home/PSearch/_PlanSearchExampleResultPartial.cshtml")
						</div>*@
				</div><!--sub-tabpage1-->
				<div id="advSearch" class="tab-pane sub-tabpage2" style="margin:20px 0px; max-height:800px; overflow-y:auto; overflow-x:hidden;">
					@RenderPage("~/Views/Home/PSearch/_PlanAdvSearchPartial.cshtml")
				</div><!--sub-tabpage2-->
				<div id="sResult" class="tab-pane sub-tabpage3">
					<div class="qSearch-result">
						@RenderPage("~/Views/Home/PSearch/_PlanSearchExampleResultPartial.cshtml")
					</div>
				</div><!--sub-tabpage3-->
			</div>
		</div>
	</div>
	<!--分析計畫專利-->
	<div id="planContainer" class="right-col-container plan-detail col-md-7">
		<div id="planPatents" style="display:none">
			@RenderPage("~/Views/Home/Plan/_PlanPatentsPartial.cshtml")
		</div>
		@*技術分析頁籤內容*@
		<div id="patentTechAnalysis" class="tab-pane main-tabpage1" ng-show="planPatents.length > 0">
			@RenderPage("~/Views/Home/PAnalysis/_PlanPTATablePartial.cshtml")
			@RenderPage("~/Views/Home/PAnalysis/_PlanPTAD3Partial.cshtml")
			@RenderPage("~/Views/Home/PAnalysis/_PlanPTAWeightSettingPartial.cshtml")
			@RenderPage("~/Views/Home/PAnalysis/_PlanPTAResultPartial.cshtml")
		</div>
	</div>
</div>
@*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*@
@section scripts{
	<script type="text/javascript" src="~/Scripts/Pages/d3.v3.min.js"></script>
	<script type="text/javascript" src="~/Scripts/Pages/home_plan.js"></script>
	<script type="text/javascript" src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
	<script type="text/javascript" src="~/signalr/hubs"></script>
	<script src="~/Scripts/angular.min.js"></script>
	<script src="~/Scripts/angular-sanitize.min.js"></script>
	<script src="~/Scripts/bootstrap-waitingfor.js"></script>
	<script type="text/javascript">
		var planHostUrl = '@Url.Action("Plan","Home")';
		var searchListUrl = '@Url.Action("QueryList", "Patent")';
		var downloadPatentUrl = '@Url.Action("DownloadPatent", "Patent")';
		var patentDetailUrl = '@Url.Action("Detail", "Patent")';
		var createPlanUrl = '@Url.Action("CreatePlan", "Plan")';
		var addPatentInPlanUrl = '@Url.Action("AddPatentInPlan", "Patent")';
		var getPatentsInPlanUrl = '@Url.Action("GetPatentListInPlan", "Patent")';
		var deletePatentInPlanUrl = '@Url.Action("DeletePatentInPlan", "Plan")';
		var app = angular.module("patentApp", ['ngSanitize']);
		app.controller('PatentController', function ($scope, $http) {
			$scope.pageList = [];
			$scope.queryTotalCount = 0;
			$scope.patentTotalCount = 0;
			$scope.pageSizeOption = [5, 10, 20, 50];
			$scope.planPatentPageSizeOption = [5, 10, 20, 50];
			$scope.downloadingPatentList = [];
			$scope.queryPageIndex = 1;
			$scope.planPatentPageIndex = 1;
			$scope.planPatents = [];
			$scope.isQuickSearch = true;
			$scope.planId = "@Model.PlanId";
			$scope.planName = "@Model.PlanName";
			$scope.planDesc = "@Model.PlanDesc";
			$scope.planWDOT = +"@Model.WDOT";
			$scope.planWBOT = +"@Model.WBOT";

			$scope.OriWeight = { "DOT": $scope.planWDOT, "BOT": $scope.planWBOT };
			$scope.planWeightSowSaveChanges = "hide";

			$scope.advSearchForm = {
				ContainsAllOfTheWords: "",
				ContainsTheCompleteWord: "",
				IncludeOneOfTheWords: "",
				DoesNotContainTheSpecifiedWord: "",
				PatentNumber: "",
				Title: "",
				Inventor: "",
				Applicant: "",
				UPC: "",
				IPC: "",
				CPC: "",
				PatentType: "NONE",
				IsSearchAllDate: true,
				StartYear: "",
				StartMonth: "",
				EndYear: "",
				EndMonth: "",
				DateType: "FilingDate"
			};

			$scope.patentTypeOptions = [
                { value: "NONE", text: "不限類型/狀態" },
                { value: "A", text: "申請中的專利" },
                { value: "G", text: "已核准的專利" },
                { value: "U", text: "發明及新型專利" },
                { value: "D", text: "新式樣 (D) 專利" },
                { value: "PP", text: "植物 (PP) 專利" },
                { value: "T", text: "防禦性文獻 (T) 專利" },
                { value: "AI", text: "改良 (AI) 專利" },
                { value: "H", text: "發明技術法定註冊 (H) 專利" }];

			$scope.monthOptions = [
                { value: 1, text: "1月" },
                { value: 2, text: "2月" },
                { value: 3, text: "3月" },
                { value: 4, text: "4月" },
                { value: 5, text: "5月" },
                { value: 6, text: "6月" },
                { value: 7, text: "7月" },
                { value: 8, text: "8月" },
                { value: 9, text: "9月" },
                { value: 10, text: "10月" },
                { value: 11, text: "11月" },
                { value: 12, text: "12月" }
			];


			//建立 signalr 連線
			var chatHubProxy = $.connection["ProjectProgressHub"];
			chatHubProxy.client.progressNotification = function (state, patentNumber, pid) {
				console.log("progress status : ");
				console.log({ state: state, patentNumber: patentNumber, pid: pid });

				$scope.$apply(function () {
					$.each($scope.planPatents, function (i, v) {
						if (v.PatentNumber == patentNumber) {
							v.State = state;
							v.PID = pid;
							//TODO: v.CPC, v.PublicDate
						}
					});
				});
			};

			// signalr start
			console.log("Connecting to the ProjectProgressHub...");
			$.connection.hub.start({ jsonp: true }).done(function () {
				console.log("Connection with the SnippetHub established!");
			});


			//檢索列表的下一頁
			$scope.toNextQueryPage = function (data, e) {
				var pageIndex = $scope.queryPageIndex;
				searchPatent(++pageIndex);
			}

			//檢索列表的上一頁
			$scope.toPrevQueryPage = function (data, e) {
				var pageIndex = $scope.queryPageIndex;
				searchPatent(--pageIndex);
			}

			$scope.chageQueryPageSize = function () {
				searchPatent(1);
			};


			//快速檢索
			$scope.quickSearch = function () {
				searchPatent(1);
			}

			function searchPatent(pageIndex) {
				var postData = { ContainsAllOfTheWords: $scope.queryText, PageSize: $scope.pageSize, PageIndex: pageIndex };
				if (!$("#searchText").is(":visible")) {
					if ((!$scope.advSearchForm.IsSearchAllDate)
                        && (isNaN($scope.advSearchForm.StartYear)
                        || isNaN($scope.advSearchForm.StartMonth)
                        || isNaN($scope.advSearchForm.EndYear)
                        || isNaN($scope.advSearchForm.EndMonth))) {
						alert("請正確填寫年、月!");
						return
					}
					postData = $scope.advSearchForm;
				}


				waitingDialog.show('請稍等…', { progressType: 'primary' });
				$http.post(searchListUrl, postData).success(function (result, status, headers, config) {
					$scope.queryPageIndex = pageIndex;
					$scope.pageList = result.PageList;
					$scope.queryTotalCount = result.ResultCount;
					waitingDialog.hide();
					console.log("query result :");
					console.log(result);
					//切換至結果頁
					$("#sResultTab").click();
				});
			}


			//專利列表的下一頁
			$scope.toNextPatentPage = function (data, e) {
				var pageIndex = $scope.planPatentPageIndex;
				chagePatentPage(++pageIndex);
			}

			//專利列表的上一頁
			$scope.toPrevPatentPage = function (data, e) {
				var pageIndex = $scope.planPatentPageIndex;
				chagePatentPage(--pageIndex);
			}

			function chagePatentPage(pageIndex) {
				$http.post(getPatentsInPlanUrl, { id: $scope.planId, pageSize: $scope.planPatentPageSize, pageIndex: pageIndex }).success(function (result, status, headers, config) {
					if (result.success) {
						$scope.planPatentPageIndex = pageIndex;
						$scope.planPatents = result.data.PageList;
						$scope.patentTotalCount = result.data.PatentTotalCount;
					}
					console.log(result);
				});
			}

			$scope.chagePatentPageSize = function () {
				chagePatentPage(1);
			};

			$scope.initPlan = function () {
				//$("#planPatents,.tabbable, #patentTechAnalysis").show();
				$("#planPatents,.tabbable").show();
				chagePatentPage(1);
			};

			//檢查是否是已存在的計劃，就顯示資訊
			if ($scope.planId != "") {
				$scope.initPlan();
			}
			else {
				initNewPlan();
			}

			//勾選專利，排入下載專利
			$scope.downloadPatent = function (data, e) {

				$http.post(addPatentInPlanUrl, { pn: data.PatentNumber, title: data.Title, abst: data.Abstract, planId: $scope.planId }).success(function (result, status, headers, config) {
					$scope.planPatents.push(data);
					$http.post(downloadPatentUrl, { pnList: [data.PatentNumber] }).success(function (result, status, headers, config) {
						console.log("Job ID: " + result);
					});
				});
			}

			//建立計劃資訊
			$scope.createPlan = function () {
				$http.post(createPlanUrl, { name: $scope.planName, desc: $scope.planDesc, planId: $scope.planId }).success(function (result, status, headers, config) {
					if (result.success) {
						$scope.planId = result.planId;
						var redirectUrl = planHostUrl + "?id=" + $scope.planId;
						location.replace(redirectUrl);
					}
					console.log(result);
				}).error(function (data, status, header, config) {

				});
			}

			//切換顯示編輯「計畫」內容
			$scope.planinfo_edit_click = function () {
				var $planName = $("#planName");
				var isDisabled = $planName.attr("disabled");
				$planName.attr("disabled", !isDisabled);//toogle;

				//
				$(".plan-desc").toggleClass("hide");
			};

			//移除計劃裡的專利
			$scope.deletePatent = function (data, index, e) {
				var confirmMsg = "確定移除「" + data.Title + "」 ?";
				if (confirm(confirmMsg)) {
					$http.post(deletePatentInPlanUrl, { planId: $scope.planId, pid: data.PID }).success(function (result, status, headers, config) {
						console.log(result);
						$scope.planPatents.splice(index, 1);
					});
				}
			};

			//導至詳細頁面
			$scope.viewDetail = function (data, e) {
				window.open(patentDetailUrl + "?pid=" + data.PID);
			};

			/*
             * === 專利技術領域分析表 ===
            */

			//api urls
			$scope.getTechFieldViewModelUrl = '@Url.Action("GetTechFieldViewModel", "PatentAnalysis")';

			//variables
			$scope.techFieldViewModel = {};
			$scope.techFieldMaxLVs = [];
			$scope.d3Model = [];

			//執行專利領域分析
			$scope.doTechFieldTableANLYS = function () {
				var url = $scope.getTechFieldViewModelUrl;
				var data = $scope.selectPatentDTOs();

				//取得專利技術領域分析表 ViewModel
				waitingDialog.show('請稍等…', { progressType: 'primary' });
				$http.post(url, data)
                    .then(function succ(res, status, headers, configs) {
                    	var result = res.data;
                    	//console.log("Success:" + result.Success);
                    	if (result.Success) {
                    		$scope.techFieldViewModel = JSON.parse(result.VM);
                    		console.log($scope.techFieldViewModel);
                    		var maxLV = $scope.techFieldViewModel.MaxLV;

                    		$scope.techFieldMaxLVs = [];
                    		for (i = 0; i <= maxLV; i++) {
                    			$scope.techFieldMaxLVs.push(i);
                    		}
                    		waitingDialog.hide();
                    		var d3Model = $scope.selectPatentForD3();
                    		$("#svg-useD3-container").data("d3-data", d3Model);
                    		draw_TECH_DIST_Chart();
                    	}
                    	//console.log("============Start=====================");
                    	//console.log(res.data);
                    	//console.log("============End=====================");
                    });
			};//end

			//選取 PatentDTO 必要欄位
			$scope.selectPatentDTOs = function () {
				var planPatentDTOs = [];

				//TODO: 發佈日要 Format 為正確的日期格式 20131029=>
				//select
				for (idx = 0; idx < $scope.planPatents.length; idx++) {
					var item = $scope.planPatents[idx];
					var model = { "PatentNumber": item.PatentNumber, "PublicDate": item.PublicDate };
					planPatentDTOs.push(model);
				}
				/*
                console.log("XXXXXXXXXXXXXXXXXXXXXXXXXXXXXx");
                console.log(planPatentDTOs);
                console.log("XXXXXXXXXXXXXXXXXXXXXXXXXXXXXx");
				*/
				return planPatentDTOs;
			};//end

			/*
			* 統合分數權重設定
			*/
			$scope.weight_Changed = function (wType) {
				//Limitation:
				// 1) wBOT + wDOT = 1
				// 2) wBOT, wDOT > 0
				switch (wType) {
					case "DOT":
						$scope.planWBOT = Math.round((1 - $scope.planWDOT) * 100.0) / 100.0;
						break;
					case "BOT":
						$scope.planWDOT = Math.round((1 - $scope.planWBOT) * 100.0) / 100.0;
						break;
				}

				$scope.planWeightSowSaveChanges = ($scope.planWBOT != $scope.OriWeight.BOT || $scope.planWDOT != $scope.OriWeight.DOT) ?
                    "" : "hide";
			};//end

			$scope.saveWeightChanges_Click = function () {
				var confirmText = "Are you sure to update the settings ?";
				if (confirm(confirmText)) {
					var url = '@Url.Action("UpdatePlanWeightSettings", "PatentAnalysis")';
					var data = { "planID": $scope.planId, "wBOT": $scope.planWBOT, "wDOT": $scope.planWDOT };
					$http.post(url, data).then(function succ(res, status, headers, config) {
						//console.log(res.data);
						var vm = res.data;
						if (!vm.Success) {
							alert(vm.ErrMsg);
						}
						else {
							$scope.OriWeight = { "DOT": $scope.planWDOT, "BOT": $scope.planWBOT };
							$scope.planWeightSowSaveChanges = "hide";
						}
					});
				}
			};//end
			$scope.resetWeightChanges_Click = function () {
				$scope.planWDOT = $scope.OriWeight.DOT;
				$scope.planWBOT = $scope.OriWeight.BOT;
				$scope.planWeightSowSaveChanges = "hide";
			};//end

			/*=== 標的專利技術分佈圖 ===*/
			$scope.selectPatentForD3 = function () {
				var patentD3s = [];
				var techANLYSPatents = $scope.techFieldViewModel.TechANLYSPatents;

				//select
				for (idx = 0; idx < techANLYSPatents.length; idx++) {
					var item = techANLYSPatents[idx];
					var model = { "species": item.PatentNumber, "deep": item.TechnicalDepth, "wide": item.TechnicalBreadth };
					patentD3s.push(model);
				}
				$scope.d3Model = patentD3s;
				/*
                console.log("XXXXXXXXXXXXXXXXXXXXXXXXXXXXXx");
                console.log(patentD3s);
                console.log("XXXXXXXXXXXXXXXXXXXXXXXXXXXXXx");
				*/
				return patentD3s;
			};//end
			$scope.PatentDistbutionD3_Click = function () {
				//assign data
				var d3Model = $scope.selectPatentForD3();
				$("#svg-useD3-container").data("d3-data", d3Model);
				draw_TECH_DIST_Chart(data);
			};//end

		});
	</script>
}