﻿@model Web.CPSearch.Models.RegisterViewModel
@{
	ViewBag.Title = "Register";
	Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@*<div class="TradeMark" style="border:dashed">
		<h2 class="text-center">Trade Mark Here 360*200px</h2>
	</div>*@

@if (Model.RegisterSuccess)
{
	<div class="alert alert-success register-success" role="alert">
		註冊成功, 已寄送驗證帳號電子郵件...
	</div>
	<a class="btn btn-success back-to-home" href="~/Home/Index">回登入頁面</a>
}
else
{
	using (Html.BeginForm("Register", "Home", FormMethod.Post, new { @class = "form-signin", role = "form" }))
	{
		<h2 class="form-signin-heading">Create Account</h2>
		<span class="required-field">*</span> @Html.LabelFor(m => m.LoginID)
		@Html.TextBoxFor(m => m.LoginID, new { @class = "form-control", placeholder = "輸入帳號(電子郵件)" })
		@Html.ValidationMessageFor(m => m.LoginID, "", new { @class = "text-danger" })
		<br />
		<span class="required-field">*</span> @Html.LabelFor(m => m.UserName)
		@Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "輸入使用者名稱" })
		@Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
		<br />
		<span class="required-field">*</span> @Html.LabelFor(m => m.Password)
		@Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "密碼" })
		@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
		<br />
		<span class="required-field">*</span> @Html.LabelFor(m => m.ConfirmPassword)
		@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "確認密碼" })
		@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
		<br />
		<br />
		<button class="btn btn-lg btn-primary btn-block" type="submit">送出</button>
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div style="text-align: center;color:red;">@ViewBag.ErrorMessage</div>
	}
	<div class="text-center">
		<p class="forgot-password"><a href="~/Home/ForgotPassword">Forgot password</a></p>
	</div>
}