﻿@model Web.CPSearch.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@{
	ViewBag.Title = "ForgotPassword";
	Layout = "~/Views/Shared/_LoginLayout.cshtml";

	var repo = new Web.CPSearch.Repos.Manage.LogoRepo();
	var vm = repo.GetLoginPageViewModel();
	var templateName = vm.UseLogoText ? "TextOnly" : "ImageOnly";
	var tradeMarkTemplate = "TradeMark/" + "_" + templateName;

	var logoImagePath = (String.IsNullOrEmpty(vm.LogoImageVirtualPath)) ?
		"" : VirtualPathUtility.ToAbsolute(vm.LogoImageVirtualPath);
	var logoText = vm.LogoText;
	ViewData["LogoParamModel"] = new Tuple<string, string>(logoText, logoImagePath);
}
@{
	Html.RenderPartial(tradeMarkTemplate, ViewData);
}
@*<div class="TradeMark" style="border:dashed">
    <h2 class="text-center">Trade Mark Here 360*200px</h2>
</div>*@

@if (Model.SuccessRestPassword)
{
    <div class="alert alert-success register-success" role="alert">
       設定密碼成功，是否回到<a href="@Url.Action("Login")" class="alert-link">CPSearch 登入頁</a> ?
    </div>
}
else if (!Model.IsValid)
{
    <div class="alert alert-danger  register-success" role="alert">
        此連結驗證失效，請重新申請忘記密碼。
    </div>
   
}
else
{
    using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post, new { @class = "form-signin", role = "form" }))
    {

        <h2 class="form-signin-heading">Reset Password</h2>

        <span class="required-field">*</span>@Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "帳號 (電子信箱)" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        <br/>
        <span class="required-field">*</span> @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "密碼" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        <br />
        <span class="required-field">*</span> @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "確認密碼" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })

        <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit">送出</button>
        <br />
        <div style="text-align: center;color:red;">@ViewBag.ErrorMessage</div>
    }
    <div class="text-center">
        <p class="create-account">No Account ? <a href="~/Home/Register">Create Account</a></p>
    </div>
}