﻿@{
	var imgSrc = VirtualPathUtility.ToAbsolute("~/Content/Images/logo.png");
	if (ViewData["LogoParamModel"] != null)
	{
		var model = ViewData["LogoParamModel"] as Tuple<string, string>;
		if (model.Item2 != "")
		{
			imgSrc = model.Item2;
		}
	}
}
<div class="tradeMark-container">
	<div class="TradeMark" style="background-color:white;">
		<img class="TradeMark-Image" src="@imgSrc" width="120" />
	</div>
</div>
`