﻿@{
	var dispText = "Patent Search & Analysis";//default
	if (ViewData["LogoParamModel"] != null) {
		var model = ViewData["LogoParamModel"] as Tuple<string, string>;
		dispText = model.Item1;
	}

}
<div class="tradeMark-container">
	<div class="TradeMark">
		<h3 class="blog-title text-center">
			<span ng-bind="logoText">@dispText</span>
		</h3>
	</div>
	<br />
</div>
