﻿<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - CPSearch Backend</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/Scripts/Chart.min.js")
	@RenderSection("styles", required: false)
</head>
<body>
	<!--Nav-->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("CPSearch 後台", "Index", "Home", new { area = "Backend" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("登入授權管理", "Index", "Account", new { area = "Backend" }, new { @class = "" })</li>
                    <li>@Html.ActionLink("一般設定管理", "ControlledSettings", "Home", new { area = "Backend" }, new { @class = "" })</li>
                    <li>@Html.ActionLink("信件通知管理", "Index", "Mail", new { area = "Backend" }, new { @class = "" })</li>

				</ul>
			</div>
		</div>
	</div>
	<!--Content-->
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - CPSearch Backend</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
