@model Web.CPSearch.Areas.MvcElmahDashboard.Models.Logs.IndexModel
@{
    ViewBag.Title = "Logs";
}
@section head
{
    <script src="@(Url.Action("Index_scripts", new { v = Html.ScriptsVersion() }))"></script>
}

<div id="details-content">

    <div class="form-inline pull-right visible-xs" style="position: fixed; right: 16px;">
        <button class="btn btn-primary nav-list-first"><span class="glyphicon glyphicon-step-backward"></span></button>
        <button class="btn btn-primary nav-list-prev"><span class="glyphicon glyphicon-backward"></span></button>
        <button class="btn btn-primary nav-list-next"><span class="glyphicon glyphicon-forward"></span></button>
    </div>

    <div class="form-inline pull-right hidden-xs" style="position: fixed; right: 16px;">
        <button class="btn btn-primary nav-list-first"><span class="glyphicon glyphicon-step-backward"></span> Newest</button>
        <button class="btn btn-primary nav-list-prev"><span class="glyphicon glyphicon-backward"></span> Newer</button>
        <button class="btn btn-primary nav-list-next">Older <span class="glyphicon glyphicon-forward"></span></button>
        <input type="hidden" name="offset" value="0" />
        <div class="form-group">
            <input id="search" type="text" class="form-control" placeholder="Search">
        </div>
        <button type="button" class="btn btn-default reload-on-click"><span class="glyphicon glyphicon-search"></span></button>
        <select name="length" class="reload-on-change form-control ">
            <option value="4">4</option>
            <option value="10" selected="selected">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>

    <h2>@(ViewBag.Title)</h2>

    <table class="table table-hover table-striped">
        <thead>
            <tr style="background-color: #e0e0e0;">
                <th valign="top">Seq<div class="hidden-xs">&nbsp;</div></th>
                <th valign="top">Time<div class="hidden-xs">&nbsp;</div></th>
                <th valign="top">
                    Application<div class="hidden-xs">
                        <select id="application" name="application" class="reload-on-change column-filter hidden-xs" data-init-queryfield="application">
                            <option value="">&lt;ALL&gt;</option>
                            @foreach (var item in Model.Applications)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </div>
                </th>
                <th valign="top">
                    Host<div class="hidden-xs">
                        <select id="host" name="host" class="reload-on-change column-filter hidden-xs" data-init-queryfield="host">
                            <option value="">&lt;ALL&gt;</option>
                            @foreach (var item in Model.Hosts)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </div>
                </th>
                <th valign="top">
                    Source<div class="hidden-xs">
                        <select id="source" name="source" class="reload-on-change column-filter" data-init-queryfield="source">
                            <option value="">&lt;ALL&gt;</option>
                            @foreach (var item in Model.Sources)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </div>
                </th>
                <th valign="top">
                    Type<div class="hidden-xs">
                        <select id="type" name="type" class="reload-on-change column-filter" data-init-queryfield="type">
                            <option value="">&lt;ALL&gt;</option>
                            @foreach (var item in Model.Types)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </div>
                </th>
                <th valign="top">Message<div class="hidden-xs">&nbsp;</div></th>
            </tr>
        </thead>
        <tbody id="list-content">
            <tr><td align="center" colspan="7"><i>Loading...</i></td></tr>
        </tbody>
    </table>

</div>
