﻿
@{
	ViewBag.Title = "專利分析計劃管理";
	Layout = "~/Views/Shared/_CPSearchLayout.cshtml";
}

@section styles{
	<style type="text/css">
		.pagination-sm {
			margin: 0px;
			right: 10px;
			position: absolute;
		}
		.search-text-input{
			width:305px!important;
			max-width:450px;
		}
	</style>
}
<div class="main" data-ng-controller="PatentController">
	<div class="row">
		<div class="col-md-4">
			<from class="form-inline" role="form">
				<div class="input-group">
					<input type="text" class="form-control search-text-input" placeholder="計劃名稱/描述/使用者 ID(Email)/使用者名稱" ng-model="queryText" />
				</div>
				<button class="btn btn-primary" type="button" ng-click="search()">搜尋</button>
			</from>
		</div>
		<div class="col-md-8">
			<uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" items-per-page="itemsPerPage" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()"></uib-pagination>
		</div>
	</div>
	<br />
	<table class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>計畫名稱</th>
				<th>計畫描述</th>
				<th style="text-align:center">專利數</th>
				<th style="text-align:center">使用者ID</th>
				<th style="text-align:center">使用者名稱</th>
				<th style="text-align:center">建立日期</th>
				<th style="text-align:center">修改日期</th>
				<th style="text-align:center">刪除</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in userPlanList">
				<td style="width:4%;white-space:nowrap;" ng-bind="($index + 1) + (itemsPerPage*(bigCurrentPage-1))"></td>
				<td class="api-name" style="text-align:left" ng-bind="item.BasicInfo.PlanName"></td>
				<td class="api-name" style="text-align:left" ng-bind="item.BasicInfo.PlanDesc"></td>
				<td class="api-name" style="width:8%;text-align:center" ng-bind="item.PatentCount"></td>
				<td class="api-name" style="width:8%;text-align:center" ng-bind="item.LoginId"></td>
				<td class="api-name" style="width:13%;text-align:center" ng-bind="item.UserName"></td>
				<td class="api-name" style="width:8%;text-align:center" ng-bind="item.CreateDateTimeText"></td>
				<td class="api-name" style="width:8%;text-align:center" ng-bind="item.ModifyDateTimeText"></td>
				<td class="api-name" style="width:8%;text-align:center">
					<button type="button" class="btn btn-danger" ng-click="deleteUserPlan(item, $index, $event)">刪除</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

@section scripts{
	<script src="~/Scripts/angular.min.js"></script>
	<script src="~/Scripts/ui-bootstrap-tpls-1.2.4.min.js"></script>
	<script type="text/javascript">
		var app = angular.module("patentApp", ['ui.bootstrap']);
		app.controller('PatentController', function ($scope, $http) {
			$scope.userPlanList = [];

			var getPageDataUrl = '@Url.Action("GetUserPlanListByPagination", "Plan")';
			var deleteUserPlanUrl = '@Url.Action("DeleteUserPlan", "Plan")';

			getPageData(1);

			$scope.pageChanged = function () {
				getPageData($scope.bigCurrentPage);
			};

			$scope.deleteUserPlan = function (item, index, event) {
				var confirmMsg = "確定刪除 「" + item.BasicInfo.PlanName + "」?";
				if (confirm(confirmMsg)) {
					$http.post(deleteUserPlanUrl, { loginId: item.LoginId, planId: item.BasicInfo.PlanId }).success(function (result, status, headers, config) {
						if (result.success) {
							$scope.userPlanList.splice(index, 1);
						} else {
							console.log(result.message);
						}
					});
				}
			};



			$scope.search = function () {
				getPageData(1);
			}

			function getPageData(pageIndex) {
				$http.post(getPageDataUrl, { queryText: $scope.queryText, pageIndex: pageIndex, pageSize: $scope.itemsPerPage }).success(function (result, status, headers, config) {
					$scope.userPlanList = result.UserPlanList;
					$scope.bigTotalItems = result.TotalItemCount;
					$scope.bigCurrentPage = result.PageIndex;
					console.log(result.TotalItemCount);
				}).error(function (data, status, header, config) {

				});
			}

			$scope.itemsPerPage = 20
			$scope.maxSize = 6;

		});
	</script>




}
