﻿
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_CPSearchLayout.cshtml";
}

<h2>信件通知管理</h2>
<div class="main">
	<ul class="nav nav-tabs">
		<li role="presentation" class="active"><a href="#emailSetting" data-toggle="tab">寄信郵件伺服器設定</a></li>
		<li role="presentation" class=""><a href="#examing" data-toggle="tab">帳號驗證通知信</a></li>
		<li role="presentation" class=""><a href="#forgotPassword" data-toggle="tab">忘記密碼通知信</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="emailSetting" style="padding:20px">
			@using (Html.BeginForm("SaveMailSetting", "Mail", FormMethod.Post,
				new { @class = "save-mail-settings-form form-horizontal" }))
			{
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">寄件者 Email</label>
					<div class="col-sm-10">
						<input type="email" class="form-control MailTo" placeholder="輸入電子郵件">
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">寄件伺服器</label>
					<div class="col-sm-10">
						<input type="text" class="form-control SmtpHost" placeholder="寄件伺服器 Ex. smtp.hinet.net">
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">Port</label>
					<div class="col-sm-10">
						<input type="text" class="form-control Port" placeholder="Port:25" />
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword3" class="col-sm-2 control-label">密碼</label>
					<div class="col-sm-10">
						<input type="password" class="form-control Password" placeholder="密碼">
					</div>
				</div>

				<div class="form-group">
					<label for="inputPassword3" class="col-sm-2 control-label"></label>
					<div class="col-sm-10">
						<input type="submit" class="btn btn-primary save-mail-settings-button" value="儲存" />
					</div>
				</div>
			}
		</div>
		<div class="tab-pane" id="examing" style="padding:20px">

			@using (Html.BeginForm("SendExamMail", "Mail", FormMethod.Post, new { @class = "send-exam-mail-form form-horizontal" }))
			{
				<div class="form-group">
					<label for="inputPassword3" class="col-sm-2 control-label">信件主旨</label>
					<div class="col-sm-10">
						<input type="text" class="form-control Subject" placeholder="CPSearch 驗證電子郵件" value="CPSearch 驗證電子郵件">
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword3" class="col-sm-2 control-label">信件內容</label>
					<div class="col-sm-10">
						<textarea class="MailContent" rows="20" cols="50">
謝謝您向 CPSearch 註冊，

如果要驗證您確實擁有這個電子郵件地址，請按一下
#validationurl#
						</textarea>
						<div class="text-danger"> #validationurl# 為系統保留之符號，會替換為驗證帳號的系統網址，請勿刪除</div>
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword3" class="col-sm-2 control-label"></label>
					<div class="col-sm-10">
						<input type="submit" class="btn btn-primary send-exam-mail-button" value="儲存" />
					</div>
				</div>
			}
		</div>
		<div class="tab-pane" id="forgotPassword" style="padding:20px">
			@using (Html.BeginForm("SendForgotPasswordMail", "Mail", FormMethod.Post, new { @class = "send-forgot-password-mail-form form-horizontal" }))
			{
				<div class="form-group">
					<label for="inputPassword3" class="col-sm-2 control-label">信件主旨</label>
					<div class="col-sm-10">
						<input type="text" class="form-control Subject" placeholder="忘記密碼通知信" value="CPSearch 忘記密碼通知信" />
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword3" class="col-sm-2 control-label">信件內容</label>
					<div class="col-sm-10">
						<textarea class="MailContent" rows="20" cols="50">
#username# 您好：

請透過下方網址，驗證並重新設定密碼：
#validationurl#
						</textarea>
						<div>
							<p class="text-success">#username# 為系統保留之符號，會替換為使用者名稱</p>
							<p class="text-danger">#validationurl# 為系統保留之符號，會替換為驗證帳號的系統網址，請勿刪除</p>
						</div>
					</div>
				</div>
					<div class="form-group">
						<label for="inputPassword3" class="col-sm-2 control-label"></label>
						<div class="col-sm-10">
							<input type="submit" class="btn btn-primary send-pass-exam-mail-button" value="儲存" />
						</div>
					</div>
			}
		</div>
	</div>
</div>


@section scripts{
	<script type="text/javascript">
		$(function () {

			$(".send-exam-mail-button,.send-pass-exam-mail-button").click(function (e) {
				var $this = $(e.target);

				var $form = $this.closest("form");
				var url = $form.attr("action");

				if ($this.is(".send-exam-mail-button") || $this.is(".send-pass-exam-mail-button")) {
					var data = {
						MailTo: $form.find(".MailTo").val(),
						SmtpHost: $form.find(".SmtpHost").val(),
						Password: $form.find(".Password").val(),
						Subject: $form.find(".Subject").val(),
						MailContent: $form.find(".MailContent").val(),
						Port: $form.find("Port").val()
					};
					$.post(url, data, function (d) {
						if (d.success) {
							alert("寄信成功");
						} else {
							alert("寄信失敗：" + d.message);
						}
					});

				}

				return false;
			});
		});
	</script>

}
