﻿.Demo {
	/*display: inline-block;*/
	border: 1px solid black;
	border-radius: 5px;
	margin: 0px 20px;
	width: 450px;
}

.update-input-container {
	display: none;
}

.show {
	display: block;
}

.TradeMark {
	max-width: 450px;
	margin: 0 auto;
	background: none repeat scroll 0 0 #F7FAFB;
	height: 130px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.TradeMark-Image{
	display: block;
    margin: 5px auto;
}

.blog-title {
	margin: 10px 0 10px 0;
	font-size: 5rem;
	letter-spacing: -1px;
	font-weight: bold;
	font-family: FiraSans,'Noto Sans TC','Open Sans',sans-serif;
	text-shadow: 0 1px 6px rgba(0,0,0,0.1);
}
.tm-small {
	max-width: 90px;
	height: 50px;
}
/*End TradeMark Mark */

.form-signin {
	max-width: 280px;
	margin: 0 auto;
}

	.form-signin .form-signin-heading,
	.form-signin .checkbox {
		margin-bottom: 10px;
	}

	.form-signin .checkbox {
		font-weight: normal;
	}

	.form-signin .form-control {
		position: relative;
		height: auto;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 10px;
		font-size: 16px;
	}

		.form-signin .form-control:focus {
			z-index: 2;
		}

	.form-signin input[type="email"] {
		margin-bottom: -1px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}

	.form-signin input[type="password"] {
		margin-bottom: 10px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

.forgot-password {
	margin-top: 20px;
}

.create-account {
	margin-top: 20px;
}

.register-success {
	width: 370px;
	margin: 47px auto;
	text-align: center;
}
