﻿@media (min-width: 1900px) {
	.container {
		width: 1870px;
	}
}

/*Begin Create Account*/
.create-account {
	max-width: 360px;
	margin: 0px auto;
}

.required-field {
	color: red;
}

/*===========================
    Common Used Color 
============================= */
.color-red {
	color: red;
}

.color-green {
	color: green;
}

.color-gold {
	color: gold;
}

.color-aqua {
	color: aqua;
}


/* ===================================
    Common Used Background Color
======================================*/
.bgcolor-white {
	background-color: white;
}

/* ===================================
    Cursor
======================================*/
.cursor-default {
	cursor: default;
}

.cursor-pointer {
	cursor: pointer;
}
