﻿/* 
	==== _PlanHeaderPartial ===
*/
.plan-desc {
	margin-top: 5px;
}

input[type="text"].doubleMaxW {
	max-width: 480px;
}

/*
* === _PlanPTAD3Partial ===
*/
#d3-fn-btns .fn-checkbox {
	display: inline-block;
	margin: 10px;
}

#d3-fn-btns .fn-export {
	display: inline-block;
	margin: 10px;
}

.pos-trendline {
	color: green;
}

.neg-trendline {
	color: orange;
}

.top25-deep {
	color: darkgoldenrod;
}

.top25-wide {
	color: deepskyblue;
}


/*
	==== _PlanPatentPartial ====
*/

/*panel-header*/
.changePageCount-container {
	float: right;
	margin-right: 10px;
}

.planPatentCount-header {
	margin-left: -3px;
}

/*換頁*/
.pagination-container {
	float: right;
	margin: 0px 2px;
}

.pagination {
	margin: -3px auto;
}

	.pagination > li > a,
	.pagination > li > span {
		background-color: #f5f5f5;
	}

/* */
.field-caption, .text-bold {
	font-weight: bold;
}

.input-margin {
	margin: 5px;
}

.loading-modal .modal-header h3 {
	font-size: 14px;
}
