﻿@using Web.CPSearch.Models;
@model IEnumerable<LatestUsedPlan>
@foreach (LatestUsedPlan plan in Model)
{
	<div class="row top-row-patent well">
		<div class="col-md-6 landing-left-patent">
			<div class="left-patent-container">
				<p>
					<span class="caption-bold">計畫名稱 : </span>
					<a href="~/Home/Plan?id=@plan.ID" class="text-info" planID="@plan.ID">@plan.Name</a>
				</p>
				<p><span class="caption-bold">存取時間 : </span> @plan.LatestTime.ToString("yyyy-MM-dd HH:mm:ss") </p>
				<p><span class="caption-bold">專利數 :</span>@plan.PatentCount</p>
				<p><span class="caption-bold">描述 :</span> @plan.Description</p>
			</div>
		</div>
		<div class="col-md-6 landing-right-patent">
			<div class="top-img-container">
				@if (!String.IsNullOrEmpty(plan.FiratImagePath))
				{
					var imgUrl = Url.Action("ThumbnailImage", "Patent"
						, new { imagePath = plan.FiratImagePath });
					<img class="top-img" src="@imgUrl" alt="專利首圖" style="border:1px solid;border-radius:5px;" />
				}
			</div>
		</div>
	</div>
}
