﻿@using Web.CPSearch.Models;
@model IEnumerable<LatestUsedPlan>
@if (Model.Count() > 0)
{
	var top1Plan = Model.First();
	<div class="row top-row-patent well">
		<div class="col-md-6 landing-left-patent">
			<div class="left-patent-container">
				<p><span class="caption-bold">計畫名稱 : </span><a href="~/Home/Plan?id=@top1Plan.ID" class="text-info" planID="@top1Plan.ID">@top1Plan.Name</a></p>
				<p><span class="caption-bold">存取時間 : </span> @top1Plan.LatestTime.ToString("yyyy-MM-dd HH:mm:ss") </p>
				<p><span class="caption-bold">專利數 :</span>@top1Plan.PatentCount</p>
				<p><span class="caption-bold">描述 :</span> @top1Plan.Description</p>
			</div>
		</div>
		<div class="col-md-6 landing-right-patent">
			<div class="top-img-container">
				@if (!String.IsNullOrEmpty(top1Plan.FiratImagePath))
				{
					<img class="top-img" src="@Url.Action("ThumbnailImage", "Patent", new { imagePath = top1Plan.FiratImagePath })" alt="專利首圖" />
				}
			</div>
		</div>
	</div>
	if (Model.Count() > 1)
	{
		//
		var restPlanCount = Model.Count() - 1;
		var perRowPlans = 2;
		var rowCount = Math.Ceiling(restPlanCount / (float)perRowPlans);
		for (int idx = 0; idx < rowCount; idx++)
		{
			var skips = 1 + idx * perRowPlans;
			<div class="row rest-row-patent">
				@foreach (LatestUsedPlan plan in Model.Skip(skips).Take(perRowPlans))
				{
					<div class="col-md-6 well">
						<div class="col-md-6 landing-left-patent">
							<p><span class="caption-bold">計畫名稱 : </span><a href="~/Home/Plan?id=@plan.ID" class="text-info" planID="@plan.ID">@plan.Name</a></p>
							<p><span class="caption-bold">存取時間 :</span> @plan.LatestTime.ToString("yyyy-MM-dd HH:mm:ss")</p>
							<p><span class="caption-bold">專利數 :</span> @plan.PatentCount</p>
							<p><span class="caption-bold">描述 :</span> @plan.Description</p>
						</div>
						<div class="col-md-6 landing-right-patent">
							<div class="reset-img-container">
								@if (!String.IsNullOrEmpty(plan.FiratImagePath))
								{
									<img class="top-img" src="@Url.Action("ThumbnailImage", "Patent", new { imagePath = plan.FiratImagePath })" alt="專利首圖" />
								}
							</div>
						</div>
					</div>
				}
			</div>
		}
	}
}
